<section id="hero" class="supplier">
    <div class="hero-title">
        <h1>
            {{ translation.home-intro.YOU_ARE_SUPPLIER }}
        </h1>
    </div>
</section>


<section id="promises" class="{{ role }}">
    <div class="container">
        <h2 class="section-title">{{ translation.home-intro.WHAT_WE_PROMISE }}</h2>
        <div class="section-container">
            <p>Hier komt tekst gericht op uitzenders</p>
        </div>
    </div>
</section>