<nav id="navbar" class="base-nav">
    <div class="left-menu">
        <a class="logo" href="/"><h2>FlexForceMonkey</h2></a>
    </div>
    <div class="right-menu">
        <div class="mobile-toggle" onclick="toggleMobileMenu()">
            <div class="nav-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul class="menu-items">
            <li class="menu-item menu-item-1">
                <a href="http://flexjungle.flexforcemonkey.com/" target="_blank">Blog</a>
            </li>
            <li class="menu-item menu-item-2">
                <a href="http://flexjungle.flexforcemonkey.com/downloads/" target="_blank">Downloads</a>
            </li>
            <li class="menu-item menu-item-3">
                <div class="dropdown">
                    <a>Producten <span class="fa fa-caret-down"></span></a>
                    <ul class="dropdown-menu">
                        <li class="item hirer"><a href="./opdrachtgever">Supplier platform voor opdrachtgevers</a></li>
                        <li class="item supplier"><a href="./leverancier">Customer connectivity voor leveranciers</a></li>
                        <li class="item freelancer"><a href="./invited">Ik ben uitgenodigd</a></li>
                    </ul>
                </div>
            </li>
            {{!-- <li id="language" class="menu-item menu-item-7 lang"></li> --}}
            {{!-- <li class="menu-item menu-item-2">
                <a class="btn-light-grey" href="https://app.flexforcemonkey.com/home" target="_blank">Log in</a>
            </li> --}}
        </ul>
    </div>
</nav>