<nav id="navbar" class="base-nav">
    <div class="left-menu">
        <a class="logo" href="/"><h2>FlexForceMonkey</h2></a>
    </div>
    <div class="right-menu">
        <div class="mobile-toggle">
            <div class="nav-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul class="menu-items">
            <li class="menu-item menu-item-1">
                <a href="/hirer">{{ translation.choice.HIRER }}</a>
            </li>
            <li class="menu-item menu-item-2">
                <a href="/supplier">{{ translation.choice.SUPPLIER }}</a>
            </li>
            <li class="menu-item menu-item-3">
                <a href="/freelancer">{{ translation.choice.FREELANCER }}</a>
            </li>
            <li class="menu-item menu-item-4">
                <a href="http://flexjungle.flexforcemonkey.com" target="_blank">{{ translation.menu-items.BLOG }} <span class="fa fa-external-link-alt"></span></a>
            </li>
            <li id="language" class="menu-item menu-item-7 lang"></li>
        </ul>
    </div>
</nav>