<section id="construction" class="with-base-nav">
    <div class="container">
        <h2 class="section-title">Wij zijn nog even bezig..</h2>
        <div class="row">
            <div class="column">
                <img src="./public/images/construction-aap.svg" alt="FlexForceMonkey">
            </div>
            <div class="column">
                <p class="sub-title">Op dit moment zijn wij nog druk aan het werk om deze pagina van content te voorzien!</p>
                <p class="sub-title">Wil je weten wanneer je dit kunt bekijken? Schrijf je dan in op onze nieuwsbrief</p>
                <button class="btn-light-grey-xl" onclick="window.history.back()">Ga terug</button>
                <a class="btn-complementary-xl" href="http://eepurl.com/dsFN71" target="_blank" >Inschrijven nieuwsbrief</a>
            </div>
        </div>        
    </div>
</section>