<section id="promises" class="{{ role }}">
    <div class="container">
        <h2 class="section-title">{{ translation.choice.FREELANCER }}</h2>
        <div class="section-container">
            <p>Hier komt tekst gericht op ZZP'er</p>
        </div>
    </div>
</section>