<div class="container gencons">
    <h2 class="section-title">Algemene opmerkingen</h2>
    <div class="section-container">
        <p>Als beheerplatform van persoonsgegevens hebben wij een duidelijke visie: de hele markt rondom inleen “online connected” maken voor efficiënte en transparante processen die alle stakeholders gelijke kansen biedt. Als je het hebt over transparantie en gelijke kansen, dus over respectvol omgaan met mensen, dan zal het niet wonderlijk klinken dat wij privacy een groot goed vinden. Maar wel een groot goed waar wij een grote verantwoordelijkheid in hebben. </p>
        <p>Natuurlijk hebben wij de AVG volledig geïmplementeerd volgens de wettelijke richtlijnen, maar wij vinden het vooral belangrijk om met onze klanten en gebruikers samen te werken aan de inhoudelijke, bedoelde, uitwerking van die kaders.</p>
        <p>Om die reden nodigen wij iedereen uit de algemene voorwaarden en privacy verklaring te bekijken en waar nodig zich vrij te voelen om commentaar te geven via onderstaand contactformulier. Als jij denkt dat onze bepalingen in strijd zijn met onze doelstellingen horen wij dat graag!</p>
        <br />
        <p class="join">JOIN THE COLLABORATIVE EXPERIENCE</p>
    </div>
</div>

{{> contact}}