<nav id="navbar">
        <div class="left-menu">
            <a class="logo" href=""><h2>FlexForceMonkey</h2></a>
        </div>
        <div class="right-menu">
            <div class="mobile-toggle">
                <div class="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul class="menu-items">
                <li class="menu-item menu-item-3">
                    <a onclick="menuScroll('#how-it-works')">{{ translation.menu-items.HOW_WORK }}</a>
                </li>
                <li class="menu-item menu-item-6">
                    <div class="dropdown">
                        <a>{{ translation.menu-items.NOT_A_HIRER }} <span class="fa fa-caret-down"></span></a>
                        <ul class="dropdown-menu">
                            <li class="item supplier"><a href="./supplier">{{ translation.choice.SUPPLIER }}</a></li>
                            <li class="item freelancer"><a href="./freelancer">{{ translation.choice.FREELANCER }}</a></li>
                        </ul>
                    </div>
                </li>
                <li id="language" class="menu-item menu-item-7 lang"></li>
            </ul>
        </div>
    </nav>