<section id="how-it-works">
    <div class="container">
        <h2 class="section-title">{{ translation.how-it-works.HOW_IT_WORKS }}</h2>
        <div class="section-container">
            <img src="./public/images/intuitief-1.png" alt="Er is een overeenstemming over de in te lenen uitzendkracht">
            <img src="./public/images/intuitief-2.png" alt="Het uitzendbureau publiceert de uitzendkracht en opdracht in een afgeschermde omgeving">
            <img src="./public/images/intuitief-3.png" alt="De inlener shopt de uitzendkracht vanuit de catalogus naar het eigen inkoop- of ERP-systeem">
            <img src="./public/images/intuitief-4.png" alt="De inlener bevestigt, na interne afhandeling, de bestelling. Deze wordt door FFM afgestemd met het uitzendbureau">
            <img src="./public/images/intuitief-5.png" alt="De inlener zorgt voor tijdregistratie in de eigen softwareomgeving of op FFM. Deze timesheet wordt door FFM afgestemd met het uitzendbureau">
            <img src="./public/images/intuitief-6.png" alt="Het uitzendbureau stuurt een sluitende factuur gebaseerd op basis van bekende tijdregistratie">
        </div>
    </div>
</section>