<section id="our-story">
    <div class="container">
        <div class="section-container">
            <div class="row">
                <div class="column">
                    <h2>{{ translation.our-story.OUR_STORY }}</h2>
                    <p>{{ translation.our-story.STORY }}</p>
                </div>
                <div class="column">
                    <img src="./public/images/ffm-monitor.png" alt="Monitor with FlexForceMonkey">
                </div>
            </div>
        </div>
    </div>
</section>