<section id="new-pricemodel">
    <div class="container">
        <h2 class="section-title">Supplier platform</h2>
        <div class="section-container">
            <table class="table table-bg">
                <thead>
                    <tr>
                        <th width="28%"></th>
                        <th width="18%">Small</th>
                        <th width="18%">Medium</th>
                        <th width="18%">Large</th>
                        <th width="18%">Enterprise</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Online HR data beheren</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Online contractdata beheren</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Online gewerkte uren beheren</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Online facturen beheren</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>API gebruik voor geïntegreerd dataverkeer</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Maatwerk systeemintegraties</th>
                        <td><span class="far fa-circle yellow"></span></td>
                        <td><span class="far fa-circle yellow"></span></td>
                        <td><span class="far fa-circle yellow"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Datagebruik</th>
                        <td>150<br/><span class="small">actieve contracten</span></td>
                        <td>500<br/><span class="small">actieve contracten</span></td>
                        <td>1500<br/><span class="small">actieve contracten</span></td>
                        <td>Onbeperkt</td>
                    </tr>
                    <tr>
                        <th>Prijs per maand (bij jaarlijkse betaling)</th>
                        <td class="big">&euro; 299</td>
                        <td class="big">&euro; 499</td>
                        <td class="big">&euro; 699</td>
                        <td class="big">Op aanvraag</td>
                    </tr>
                    <tr>
                        <th>Prijs per maand (bij maandelijkse betaling)</th>
                        <td>&euro; 359</td>
                        <td>&euro; 599</td>
                        <td>&euro; 839</td>
                        <td>Op aanvraag</td>
                    </tr>
                    <tr>
                        <th>Afkoop systeemintegratie partners</th>
                        <td><span class="far fa-circle yellow"></span></td>
                        <td><span class="far fa-circle yellow"></span></td>
                        <td><span class="far fa-circle yellow"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <span class="fa fa-check green"></span> = Standaard, 
                            <span class="fa fa-times red"></span> = Niet beschikbaar, 
                            <span class="far fa-circle yellow"></span> = Optioneel
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Small</th>
                        <th>Medium</th>
                        <th>Large</th>
                        <th>Enterprise</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="4">Online HR data beheren</th>
                    </tr>
                    <tr>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th colspan="4">Online contractdata beheren</th>
                    </tr>
                    <tr>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th colspan="4">Online gewerkte uren beheren</th>
                    </tr>
                    <tr>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th colspan="4">Online facturen beheren</th>
                    </tr>
                    <tr>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th colspan="4">API gebruik voor geïntegreerd dataverkeer</th>
                    </tr>
                    <tr>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th colspan="4">Maatwerk systeemintegraties</th>
                    </tr>
                    <tr>
                        <td><span class="far fa-circle yellow"></span></td>
                        <td><span class="far fa-circle yellow"></span></td>
                        <td><span class="far fa-circle yellow"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th colspan="4">Datagebruik</th>
                    </tr>
                    <tr>
                        <td>150<br/><span class="small">actieve contracten</span></td>
                        <td>500<br/><span class="small">actieve contracten</span</td>
                        <td>1500<br/><span class="small">actieve contracten</span</td>
                        <td>Onbeperkt</td>
                    </tr>
                    <tr>
                        <th colspan="4">Prijs per maand (bij jaarlijkse betaling)</th>
                    </tr>
                    <tr>
                        <td class="big">&euro; 299</td>
                        <td class="big">&euro; 499</td>
                        <td class="big">&euro; 699</td>
                        <td class="big">Op aanvraag</td>
                    </tr>
                    <tr>
                        <th colspan="4">Prijs per maand (bij maandelijkse betaling)</th>
                    </tr>
                    <tr>
                        <td>&euro; 359</td>
                        <td>&euro; 599</td>
                        <td>&euro; 839</td>
                        <td>Op aanvraag</td>
                    </tr>
                    <tr>
                        <th colspan="4">Afkoop systeemintegratie partners</th>
                    </tr>
                    <tr>
                        <td><span class="far fa-circle yellow"></span></td>
                        <td><span class="far fa-circle yellow"></span></td>
                        <td><span class="far fa-circle yellow"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <span class="fa fa-check green"></span> = Standaard, 
                            <span class="fa fa-times red"></span> = Niet beschikbaar, 
                            <span class="far fa-circle yellow"></span> = Optioneel
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>