<section id="new-pricemodel">
    <div class="container">
        <h2 class="section-title">I'm invited</h2>
        <div class="section-container">
            <table class="table table-bg">
                <thead>
                    <tr>
                        <th width="28%"></th>
                        <th width="18%">Basic<br/>(On invite only)</th>
                        <th width="18%">Basic+<br/>(On invite only)</th>
                        <th width="18%">Extended supplier</th>
                        <th width="18%">Full customer connectivity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Manage HR data online</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Manage contract data online</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Manage hours worked online</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Manage invoices online</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>API use for integrated data</th>
                        <td><span class="fa fa-times red"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Tailor-made system integrations</th>
                        <td><span class="fa fa-times red"></span></td>
                        <td><span class="fa fa-times red"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Data usage</th>
                        <td>Everything<br/><span class="small">from an invited business partner</span></td>
                        <td>Everything<br/><span class="small">from an invited business partner</span></td>
                        <td>Everything<br/><span class="small">from an invited business partner</span></td>
                        <td>Unlimited invite of your customers</td>
                    </tr>
                    <tr>
                        <th>Price per month (with annual payment)</th>
                        <td class="big">FREE</td>
                        <td class="big">&euro; 99</td>
                        <td class="big">&euro; 299</td>
                        <td class="big">On request</td>
                    </tr>
                    <tr>
                        <th>Price per month (with monthly payment)</th>
                        <td>FREE</td>
                        <td>&euro; 119</td>
                        <td>&euro; 359</td>
                        <td>On request</td>
                    </tr>
                    <tr>
                        <th>Buyout system integration partners</th>
                        <td>n.a.</td>
                        <td>n.a.</td>
                        <td>n.a.</td>
                        <td><span class="far fa-circle yellow"></span></td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <span class="fa fa-check green"></span> = Standard, 
                            <span class="fa fa-times red"></span> = Not available, 
                            <span class="far fa-circle yellow"></span> = Optional
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Basic<br/>(On invite only)</th>
                        <th>Basic+<br/>(On invite only)</th>
                        <th>Extended supplier</th>
                        <th>Full customer connectivity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="4">Manage HR data online</th>
                    </tr>
                    <tr>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th colspan="4">Manage contract data online</th>
                    </tr>
                    <tr>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th colspan="4">Manage hours worked online</th>
                    </tr>
                    <tr>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th colspan="4">Manage invoices online</th>
                    </tr>
                    <tr>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th colspan="4">API use for integrated data</th>
                    </tr>
                    <tr>
                        <td><span class="fa fa-times red"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th colspan="4">Tailor-made system integrations</th>
                    </tr>
                    <tr>
                        <td><span class="fa fa-times red"></span></td>
                        <td><span class="fa fa-times red"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th colspan="4">Data usage</th>
                    </tr>
                    <tr>
                        <td>Everything<br/><span class="small">from an invited business partner</span></td>
                        <td>Everything<br/><span class="small">from an invited business partner</span></td>
                        <td>Everything<br/><span class="small">from an invited business partner</span></td>
                        <td>Unlimited invite of your customers</td>
                    </tr>
                    <tr>
                        <th colspan="4">Price per month (with annual payment)</th>
                    </tr>
                    <tr>
                        <td class="big">FREE</td>
                        <td class="big">&euro; 99</td>
                        <td class="big">&euro; 299</td>
                        <td class="big">On request</td>
                    </tr>
                    <tr>
                        <th colspan="4">Price per month (with monthly payment)</th>
                    </tr>
                    <tr>
                        <td>FREE</td>
                        <td>&euro; 119</td>
                        <td>&euro; 359</td>
                        <td>On request</td>
                    </tr>
                    <tr>
                        <th colspan="4">Buyout system integration partners</th>
                    </tr>
                    <tr>
                        <td>n.a.</td>
                        <td>n.a.</td>
                        <td>n.a.</td>
                        <td><span class="far fa-circle yellow"></span></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <span class="fa fa-check green"></span> = Standard, 
                            <span class="fa fa-times red"></span> = Not available, 
                            <span class="far fa-circle yellow"></span> = Optional
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>