<section id="new-pricemodel">
    <div class="container">
        <h2 class="section-title">Customer connectivity platform</h2>
        <div class="section-container">
            <table class="table">
                <thead>
                    <tr>
                        <th width="40%"></th>
                        <th width="60%">Gestaffeld abonnement</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Online delen van HR gegevens</th>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Online delen van contractgegevens</th>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Online delen van gewerkte uren</th>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Online delen van facturen</th>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Full-service systeemintegratie met je opdrachtgevers</th>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Customer onboarding</th>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>CAO ontrafelaar</th>
                        <td><span class="far fa-circle yellow"></span></td>
                    </tr>
                    <tr>
                        <th># Actieve contracten<br/><span class="small">(Gemeten aan # urenbriefjes gemiddeld per week)</span></th>
                        <td>v.a. 150 stuks per week</td>
                    </tr>
                    <tr>
                        <th>Prijs per urenbriefje<br/><span class="small">(Afhankelijk van staffel en commitment)</span></th>
                        <td>v.a. &euro; 0,10 per stuk</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="fa fa-check green"></span> = Standaard, 
                            <span class="fa fa-times red"></span> = Niet beschikbaar, 
                            <span class="far fa-circle yellow"></span> = Optioneel
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>