<section id="new-pricemodel">
    <div class="container">
        <h2 class="section-title">Customer connectivity platform</h2>
        <div class="section-container">
            <table class="table">
                <thead>
                    <tr>
                        <th width="40%"></th>
                        <th width="60%">Tiered subscription</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Online sharing of HR data</th>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Online sharing of contract data</th>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Online sharing of worked hours</th>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Online sharing of invoices</th>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Full-service systemintegration with you clients</th>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Customer onboarding</th>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>CLA unraveler</th>
                        <td><span class="far fa-circle yellow"></span></td>
                    </tr>
                    <tr>
                        <th># Active contracts<br/><span class="small">(measured by # timesheets on average per week)</span></th>
                        <td>from 150 pieces per week</td>
                    </tr>
                    <tr>
                        <th>Price per timesheet<br/><span class="small">(depending on scale and commitment)</span></th>
                        <td>from &euro; 0,10 per unit</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="fa fa-check green"></span> = Standard, 
                            <span class="fa fa-times red"></span> = Not available, 
                            <span class="far fa-circle yellow"></span> = Optional
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>