<section id="subscribe-ffm">
    <div class="container">
        <h2 class="section-title">Online platform voor leveranciers- en klantintegratie</h2>
        <div class="section-container">
            <table class="table table-bg">
                <thead>
                    <tr>
                        <th width="28%"></th>
                        <th width="18%">Basic</th>
                        <th width="18%">One-on-One</th>
                        <th width="18%">Small tribe</th>
                        <th width="18%">Unlimited group</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Abonnement per maand</th>
                        <td>Gratis - enkel op uitnodiging</td>
                        <td>Vanaf &euro; 199,-</td>
                        <td>Vanaf &euro; 399,-</td>
                        <td>Op aanvraag</td>
                    </tr>
                    <tr>
                        <th>Online HR data beheren</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Online contractdata beheren</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Online gewerkte uren beheren</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Online facturen beheren</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Extra leveranciers of klanten uitnodigen</th>
                        <td><span class="fa fa-times red"></span></td>
                        <td><span class="fa fa-times red"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Standaard integraties</th>
                        <td><span class="fa fa-times red"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Maatwerk integraties</th>
                        <td><span class="fa fa-times red"></span></td>
                        <td><span class="far fa-circle yellow"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>Datagebruik</th>
                        <td>Beperkt tot één ketenpartner</td>
                        <td>Beperkt tot één ketenpartner</td>
                        <td>Beperkt tot vijf ketenpartners</td>
                        <td>Onbeperkt</td>
                    </tr>
                    <tr>
                        <th>Afkoop partnerkoppelingen</th>
                        <td><span class="fa fa-times red"></span></td>
                        <td><span class="fa fa-times red"></span></td>
                        <td><span class="far fa-circle yellow"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <td colspan="5"><span class="fa fa-check green"></span> = Standaard</td>
                    </tr>
                    <tr>
                        <td colspan="5"><span class="fa fa-times red"></span> = Niet beschikbaar</td>
                    </tr>
                    <tr>
                        <td colspan="5"><span class="far fa-circle yellow"></span> = Optioneel</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Inlener</th>
                        <th>Intermediair</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2">Onbeperkt human resource data</th>
                    </tr>
                    <tr>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th colspan="2">Onbeperkt opdrachtdata</th>
                    </tr>
                    <tr>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th colspan="2">Onbeperkte timesheet data</th>
                    </tr>
                    <tr>
                        <td><span class="fa fa-check green"></span></td>
                        <td>v.a. &euro;0,25 per timesheet</td>
                    </tr>
                    <tr>
                        <th colspan="2">Onbeperkte factuurdata</th>
                    </tr>
                    <tr>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th colspan="2">Onboarding</th>
                    </tr>
                    <tr>
                        <td>Gratis</td>
                        <td>Gratis</td>
                    </tr>
                    <tr>
                        <th colspan="2">Systeemkoppeling/data mapping</th>
                    </tr>
                    <tr>
                        <td>v.a. &euro;750 per systeem</td>
                        <td>v.a. &euro;500 per systeem</td>
                    </tr>
                    <tr>
                        <td><a href="./selfservice-subscribe?sub=intbuy" class="btn-complementary">Abonneer</a></td>
                        <td><a href="./selfservice-subscribe?sub=intsel" class="btn-complementary">Abonneer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>