<div class="container">
    <h2 class="section-title">{{ translation.general.TERMSCON }}</h2>
    <div class="section-container">
        <h4>ALGEMENE VOORWAARDEN FLEXFORCEMONKEY, MEI 2018,</h4>
        <p>Inhoudsopgave</p>
        <ul class="tableContents">
            <li><a onclick="termsScroll('#definities')">Artikel 1. Definities</a></li>
            <li><a onclick="termsScroll('#toepasselijkheid')">Artikel 2. Toepasselijkheid / uitvoering</a></li>
            <li><a onclick="termsScroll('#prijzen')">Artikel 3. Prijzen</a></li>
            <li><a onclick="termsScroll('#communicatie')">Artikel 4. Communicatie</a></li>
            <li><a onclick="termsScroll('#totstandkoming')">Artikel 5. Totstandkoming Overeenkomst</a></li>
            <li><a onclick="termsScroll('#toegang')">Artikel 6. Toegang en updates</a></li>
            <li><a onclick="termsScroll('#gebruik')">Artikel 7. Gebruik van de Dienst</a></li>
            <li><a onclick="termsScroll('#onderhoud')">Artikel 8. Onderhoud</a></li>
            <li><a onclick="termsScroll('#support')">Artikel 9. Support</a></li>
            <li><a onclick="termsScroll('#verwerking')">Artikel 10. Verwerking persoonsgegevens</a></li>
            <li><a onclick="termsScroll('#betaling')">Artikel 11. Betaling</a></li>
            <li><a onclick="termsScroll('#rechten')">Artikel 12. Rechten van intellectueel eigendom</a></li>
            <li><a onclick="termsScroll('#aansprakelijkheid')">Artikel 13. Aansprakelijkheid</a></li>
            <li><a onclick="termsScroll('#overmacht')">Artikel 14. Overmacht</a></li>
            <li><a onclick="termsScroll('#duur')">Artikel 15. Duur en beëindiging</a></li>
            <li><a onclick="termsScroll('#wijzigingen')">Artikel 16. Wijzigingen AV</a></li>
            <li><a onclick="termsScroll('#slotbepalingen')">Artikel 17. Slotbepalingen</a></li>
        </ul>
        <p id="definities">Artikel 1. Definities </p>
        <p>1.1. FlexForceMonkey: FlexForceMonkey is als besloten vennootschap ingeschreven bij de Kamer van Koophandel onder nummer 67597157 en geldt in deze algemene voorwaarden als de leverancier van de Dienst.</p>
        <p>1.2. Klant: de natuurlijke persoon of rechtspersoon met wie FlexForceMonkey de Overeenkomst heeft gesloten dan wel de gebruiker van de Dienst.</p>
        <p>1.3. Dienst: FlexForceMonkey stelt en houdt voor Klant een online platform beschikbaar via het internet beschikbaar. Dit Online platform is bedoeld als beheer- en communicatiemiddel rondom opdrachten, uren en facturen voor in de inhuur van flexkrachten.</p>
        <p>1.4. Administratie: Alle gegevens die Klant invoert of door FlexForceMonkey zijn geproduceerd.</p>
        <p>1.5. Overeenkomst: De, al dan niet automatisch en zonder handtekening, door ingebruikname, overeengekomen afspraken voor gebruik van de Dienst door Klant.</p>
        <p>1.6. Gratis Licentie: Een Overeenkomst voor een onbepaalde duur, zoals weergegeven op de Website, ten einde de Dienst zonder kosten binnen het kader van de licentie te gebruiken.</p>
        <p>1.7. Website: “FlexForceMonkey.com”, “www.FlexForceMonkey.com” of de websites van de Dienst “flexjungle.FlexForceMonkey.com” en alle andere subdomeinen en online uitgaven van FlexForceMonkey ongeacht of deze subdomeinen al bestaan ten tijde van opstellen en aanvaarden van deze algemene voorwaarden of dat deze later zijn ontstaan.</p>
        <p>1.8. Algemene Voorwaarden: onderhavige algemene voorwaarden.</p>
        <p>1.9. Inspraakproces: een altijd duidelijk gepubliceerde procedure van inspraak voor de Klant in toekomstige en bestaande functionaliteiten.</p>
        <br />

        <p id="toepasselijkheid">Artikel 2. Toepasselijkheid / uitvoering</p>
        <p>2.1. Op alle aanbiedingen, Overeenkomsten en leveringen van FlexForceMonkey zijn deze Algemene Voorwaarden van toepassing, tenzij schriftelijk uitdrukkelijk anders is overeengekomen.</p>
        <p>2.2. FlexForceMonkey is gerechtigd derden in te schakelen bij het uitvoeren van haar Overeenkomsten.</p>
        <br />

        <p id="prijzen">Artikel 3. Prijzen</p>
        <p>3.1. Alle prijzen zijn in euro’s en exclusief omzetbelasting en andere heffingen welke van overheidswege worden opgelegd.</p>
        <p>3.2. Alle prijzen op de Website, brochures en nieuwsbrieven zijn onder voorbehoud van typ- en rekenfouten. Voor de gevolgen van typ- en rekenfouten wordt door FlexForceMonkey geen aansprakelijkheid aanvaard.</p>
        <p>3.3. FlexForceMonkey behoudt zich het recht voor tarieven tussentijds te wijzigen. De wijzigingen worden minimaal één (1) maand voordat zij van kracht worden bekendgemaakt op de website en via het email-adres van Klant dat bij FlexForceMonkey bekend is voor dergelijke communicatie.</p>
        <br />

        <p id="communicatie">Artikel 4. Communicatie</p>
        <p> 4.1. De door FlexForceMonkey ontvangen of opgeslagen versie van de desbetreffende communicatie geldt als bewijs daarvan, behoudens tegenbewijs door Klant.</p>
        <br />

        <p id="totstandkoming">Artikel 5. Totstandkoming Overeenkomst </p>
        <p>5.1. Klant gaat de Overeenkomst met FlexForceMonkey aan door een licentie aan te vragen via het registratieproces op de Website.</p>
        <p>5.2. Het registratieproces en de Overeenkomst is rechtsgeldig wanneer Klant de registratie via haar eigen email heeft bevestigt, ongeacht of het proces door eigen beweging of door uitnodiging van een andere Klant is geïnitieerd.</p>
        <p>5.3. FlexForceMonkey heeft het recht, zonder opgaaf van reden, Klant te weigeren.</p>
        <br />

        <p id="toegang">Artikel 6. Toegang en updates</p>
        <p>6.1. FlexForceMonkey zal Klant gedurende de looptijd van de Overeenkomst de Dienst verlenen. Hiertoe zal FlexForceMonkey aan Klant een gebruikersnaam en wachtwoord verstrekken, waarmee de Dienst door Klant kan worden gebruikt en beheerd.</p>
        <p>6.2. FlexForceMonkey heeft het recht de programmatuur van de Dienst te allen tijden aan te passen om de functionaliteit te verbeteren en om fouten te herstellen.</p>
        <p>6.3. Voor inspraak op de bruikbaarheid van updates heeft de Klant toegang tot een Inspraakproces.</p>
        <p>6.4. Onafhankelijk van het Inspraakproces heeft FlexForceMonkey altijd finale zeggenschap over de definitie van ‘verbeterde functionaliteit’ en daarmee het recht om updates door te voeren naar eigen inzicht.</p>
        <p>6.5. FlexForceMonkey is gemachtigd de functionaliteit, beschikbaarheid en werking van de Gratis Licentie op ieder gewenst moment te beperken of op te schorten.</p>
        <br />

        <p id="gebruik">Artikel 7. Gebruik van de Dienst</p>
        <p>7.1. De Klant geldt als controller in de ogen van de <a target="_blank" href="https://autoriteitpersoonsgegevens.nl/nl/onderwerpen/avg-nieuwe-europese-privacywetgeving">Europese Wetgeving rondom Persoonsbescherming (AVG)</a> en bepaalt daarmee welke van data subjecten informatie met behulp van de Dienst wordt opgeslagen en/of uitgewisseld. FlexForceMonkey heeft geen kennis van deze informatie. De Klant is er dan ook verantwoordelijk voor dat die informatie rechtmatig is en geen inbreuk maakt op de rechten van derden.</p>
        <p>7.2. FlexForceMonkey aanvaardt haar volledige wettelijke aansprakelijkheid als Processor in de ogen van de <a target="_blank" href="https://autoriteitpersoonsgegevens.nl/nl/onderwerpen/avg-nieuwe-europese-privacywetgeving">Europese Wetgeving rondom Persoonsbescherming (AVG)</a> voor de met behulp van de Dienst opgeslagen en/of uitgewisselde informatie.</p>
        <p>7.3. Indien onrechtmatigheden aan het licht komen in de rechtsgeldigheid van de data die door de Klant via de Dienst wordt opgeslagen en gecommuniceerd, zal FlexForceMonkey ertoe genoodzaakt zijn de juiste stappen te ondernemen via de Autoriteit Persoonsgegevens van het land waarbinnen de onrechtmatigheden zijn ontstaan. Eventueel benodigde vervolgstappen zullen door FlexForceMonkey onverwijld worden uitgevoerd. In geen geval zal FlexForceMonkey aansprakelijk zijn voor de schade die voortvloeit uit dergelijk handelen.</p>
        <p>7.4. In geval van een vermoeden van fraude of misbruik van de Dienst is FlexForceMonkey gerechtigd de persoonsgegevens van Klant en de Administratie aan de bevoegde autoriteiten te overhandigen.</p>
        <p>7.5. Klant moet de door FlexForceMonkey aan Klant verstrekte gebruikersnamen en wachtwoorden geheim houden. FlexForceMonkey is niet verantwoordelijk voor misbruik van gebruikersnamen en wachtwoorden en mag ervan uitgaan dat een Klant, die zich aanmeldt op de Dienst, ook daadwerkelijk de Klant is. Klant dient FlexForceMonkey op de hoogte te stellen als Klant een vermoeden heeft dat de gebruikersnamen en wachtwoorden in handen zijn gekomen van onbevoegden. FlexForceMonkey heeft het recht doeltreffende maatregelen te nemen in dergelijke gevallen.</p>
        <p>7.6. Klant stelt FlexForceMonkey steeds onverwijld elektronisch op de hoogte van enige wijzigingen in naam, emailadressen en overige gegevens die voor het uitvoeren van de Dienst door FlexForceMonkey van belang zijn. Voorgenoemde gegevens kunnen via de Dienst worden doorgevoerd.</p>
        <p>7.7. Klant dient zich te onthouden van ongeoorloofd gebruik van de Dienst en zal zich opstellen en gedragen conform hetgeen door FlexForceMonkey mag worden verwacht van een zorgvuldig gebruiker van de Dienst.</p>
        <p>7.8. De Klant heeft toegang tot de Dienst ter uitvoering van haar eigen werkzaamheden en ter ondersteuning van de werkzaamheden van haar opdrachtgevers en/of leveranciers. Het is de Klant niet toegestaan de Dienst commercieel door te verkopen zonder specifieke opgestelde afspraken hieromtrent.</p>
        <p>7.9. Onverminderd haar overige rechten op grond van de wet of de Overeenkomst behoudt FlexForceMonkey zich het recht voor haar verplichtingen jegens Klant op te schorten of de Overeenkomst te ontbinden indien deze handelt, of redelijkerwijs wordt vermoed te handelen in strijd met de artikelen in deze Algemene Voorwaarden zonder dat FlexForceMonkey tot enige schadevergoeding dan wel restitutie van de vergoeding voor de Dienst is gehouden.</p>
        <br />

        <p id="onderhoud">Artikel 8. Onderhoud</p>
        <p>8.1. FlexForceMonkey spant zich in om de Dienst 7 dagen per week, 24 uur per dag voor Klant beschikbaar te houden.</p>
        <p>8.2. FlexForceMonkey behoudt zich het recht voor de Dienst tijdelijk buiten gebruik te stellen ten behoeve van onderhoud, aanpassing of verbetering van de Dienst. FlexForceMonkey zal zich inspannen een dergelijke buitengebruikstelling zoveel mogelijk buiten meetbare drukke uren te laten plaatsvinden en Klant, voor zover dit nodig lijkt, tijdig van tevoren op de hoogte te stellen van de geplande werkzaamheden. FlexForceMonkey zal wegens zodanige buitengebruikstelling van de Dienst nimmer tot enige schade jegens Klant gehouden zijn.</p>
        <br />
        
        <p id="support">Artikel 9. Support</p>
        <p>9.1. FlexForceMonkey zal Klant online ondersteunen bij het gebruik van de Dienst. De ondersteuning wordt verleend via de online servicedesk (zie tevens de supportpagina op de Website). FlexForceMonkey zal zich inspannen om de vragen adequaat en binnen een redelijke termijn te beantwoorden. Deze ondersteuning moet zich beperken tot incidenten in de techniek en vragen rondom het gebruik van de applicaties.</p>
        <p>9.2. FlexForceMonkey kan niet instaan voor de administratieve, zakelijke of fiscale juistheid van bedrijfsinhoudelijke adviezen die eventueel ter sprake komen in contacten met de servicedesk.</p>
        <br />

        <p id="verwerking">Artikel 10. Verwerking persoonsgegevens</p>
        <p>10.1. FlexForceMonkey heeft als hoofddoel het communiceren van opdrachtverstrekking, urenverantwoording en facturatie tussen opdrachtgevers en opdrachtnemers binnen de inhuur van flexibele arbeid. Voor deze verwerking zijn persoonsgegevens benodigd. FlexForceMonkey geldt in deze verwerking enkel als verwerker van de data en zal altijd handelen in opdracht van de Klant.</p>
        <p>10.2. Zowel de Klant als FlexForceMonkey zijn zich bewust van het bestaan van de Algemene Verordening Gegevensbescherming en zijn gehouden aan een gezamenlijke inspanning voor het opvolgen van deze wetgeving, waarvoor dit artikel geldt als sluitende verwerkersovereenkomst tussen beiden.</p>
        <p>10.3. Binnen de verwerkingsdoelen zoals beschreven in artikel 10.1 worden van inhuurkrachten de volgende gegevens opgeslagen:</p>
        <ul class="lower-alpha">
            <li>Voornaam – voor functionele identificatie</li>
            <li>Achternaam – voor functionele identificatie</li>
            <li>Emailadres – voor communicatie rondom rechten en plichten AVG</li>
            <li>Geboortedatum – voor leeftijdsafhankelijke verwerking van tariefstellingen</li>
            <li>Woonadres – voor afhandeling van woon-werk reiskostenvergoedingen</li>
        </ul>
        <p>De gegevens d. en e.  worden geadviseerd aan de Klant met gefingeerde data te vullen wanneer geen gebruik wordt gemaakt van de genoemde toepassingen.</p>
        <p>10.4. In ieder geval houdt FlexForceMonkey zich als verwerker strikt aan volgende gedragsrichtlijnen:</p>
        <ul class="lower-alpha">
            <li>De verwerking vindt uitsluitend plaats op basis van de schriftelijke instructies van de Klant. </li>
            <li>FlexForceMonkey mag de persoonsgegevens niet voor eigen doeleinden gebruiken.</li>
            <li>Personen in dienst van of werkzaam voor FlexForceMonkey die in aanraking komen met de betreffende gegevens hebben een getekende geheimhoudingsplicht.</li>
            <li>FlexForceMonkey neemt passende technische en organisatorische maatregelen zodat de verwerking aan de vereisten van de AVG voldoet en de bescherming van de rechten van de betrokkenen zijn gewaarborgd.</li>
            <li>FlexForceMonkey gebruikt Microsoft Azure als subverwerker.</li>
            <li>FlexForceMonkey schakelt geen subverwerker(s) in zonder voorafgaande schriftelijke aankondiging aan de Klant. Hierbij zal ten minste 30 dagen aankondigingstijd genomen worden.</li>
            <li>FlexForceMonkey legt aan iedere subverwerker in een subverwerkersovereenkomst dezelfde verplichtingen vast als in deze Overeenkomst.</li>
            <li>Bij het niet nakomen van de verplichtingen van de subverwerker, is FlexForceMonkey nog steeds aansprakelijk voor het nakomen van verplichtingen aan de Klant.</li>
            <li>FlexForceMonkey helpt om te voldoen aan de plichten van de Klant als betrokkenen hun privacyrechten uitoefenen (zoals het recht op inzage, correctie, vergetelheid en dataportabiliteit). FlexForceMonkey brengt hier zonder expliciete aankondiging geen kosten voor in rekening maar behoud zich het recht voor deze aankondiging te allen tijden te doen. Hierbij zullen niet meer dan redelijke kosten in rekening worden gebracht (max. € 100,- per uur voor alleen directe uren).</li>
            <li>FlexForceMonkey helpt mee om te voldoen aan de verplichtingen rond de meldplicht datalekken. Dit betekent FlexForceMonkey mogelijke datalekken direct meldt aan de Klant en meewerkt aan onderzoek/analyse. FlexForceMonkey hoeft niet te melden aan de Autoriteit Persoonsgegevens, dit doet de verantwoordelijke. FlexForceMonkey brengt voor afhandeling van mogelijke datalekken die zijn ontstaan bij verwerker geen kosten in rekening.</li>
            <li>FlexForceMonkey helpt mee om te voldoen aan de verplichtingen rond Data Protection Impact Assessment. FlexForceMonkey brengt hier niet meer dan redelijke kosten voor in rekening (max. € 100,- per uur voor alleen directe uren).</li>
            <li>FlexForceMonkey werkt mee aan audits door de Klant of een door de Klant ingeschakelde derde partij. FlexForceMonkey stelt alle relevante informatie beschikbaar om te kunnen controleren of de verwerker zich houdt aan de in deze overeenkomst genoemde verplichtingen.</li>
            <li>FlexForceMonkey kan worden ingezet als auditeerbaar onderdeel van de digitale factuurketen en houdt zich daarmee aan een bewaartermijn van 7 jaar van alle transacties. Persoonsgegevens worden direct na deze bewaartermijn verwijderd.</li>
            <li>FlexForceMonkey mag de gegevens niet verwerken buiten organisaties/landen die minimaal evenveel waarborgen bieden als de Europese Unie, tenzij schriftelijk anders overeengekomen.</li>
        </ul>
        <p>10.5. FlexForceMonkey levert haar uiterste best om de opgeslagen persoonsgegevens te beschermen tegen lekkage. Hiertoe worden continu maatregelen genomen in haar software.</p>
        <br />

        <p id="betaling">Artikel 11. Betaling</p>
        <p>11.1. De vergoeding van de door FlexForceMonkey te leveren Dienst wordt tijdens de aanmeldprocedure op de Website aan Klant kenbaar gemaakt.</p>
        <p>11.2. Wanneer deze vergoeding veranderd wordt dit minimaal één maand voor facturatie aan de Klant meegedeeld via het bij FlexForceMonkey beschikbare emailadres voor dergelijke communicatie.</p>
        <p>11.3. De Klant gaat akkoord met elektronische facturatie door FlexForceMonkey.</p>
        <p>11.4. Betalingen dienen te geschieden via overmaking binnen 14 dagen na ontvangst van een digitale factuur. Klant heeft hiervan kennisgenomen en gaat hiermee akkoord.</p>
        <p>11.5. Wanneer de Klant gebruik maakt van de Dienst tegen een gratis Gratis Licentie, zal geen facturatie plaatsvinden.</p>
        <br />

        <p id="rechten">Artikel 12. Rechten van intellectueel eigendom</p>
        <p>12.1. Alle rechten van intellectueel eigendom op de ter beschikking gestelde programmatuur, van de Dienst, berusten uitsluitend bij FlexForceMonkey of diens licentiegevers. Klant verkrijgt uitsluitend een gebruiksrecht dat niet exclusief en niet overdraagbaar is, en bevoegdheden die bij deze voorwaarden of anderszins uitdrukkelijk worden toegekend en voor het overige zal Klant de Dienst of andere materialen niet verveelvoudigen of daarvan kopieën vervaardigen.</p>
        <p>12.2. Het is FlexForceMonkey toegestaan technische maatregelen te nemen ter bescherming van de programmatuur van de Dienst. Indien FlexForceMonkey door middel van technische bescherming de programmatuur van FlexForceMonkey heeft beveiligd, is het Klant niet toegestaan deze beveiliging te verwijderen of te ontwijken.</p>
        <br />
        
        <p id="aansprakelijkheid">Artikel 13. Aansprakelijkheid</p>
        <p>13.1. FlexForceMonkey is nimmer aansprakelijk voor enige indirecte schade van Klant of derden, waaronder mede begrepen gevolgschade, gederfde omzet en winst, verlies van (Administratie) gegevens dan wel schade wegens openbaarmaking daarvan en immateriële schade.</p>
        <p>13.2. De aansprakelijkheid van FlexForceMonkey jegens Klant is per gebeurtenis (waarbij een samenhangende reeks gebeurtenissen als één gebeurtenis geldt) beperkt tot maximaal het door Klant betaalde bedrag voor de Dienst in de afgelopen zes maanden (exclusief BTW).</p>
        <p>13.3. Klant vrijwaart FlexForceMonkey voor alle aanspraken van derden, ter zake van vergoeding van schade, kosten of rente, verband houdende met deze Overeenkomst en/of de Dienst.</p>
        <br />

        <p id="overmacht">Artikel 14. Overmacht</p>
        <p>14.1. In geval van overmacht, waaronder in ieder geval wordt verstaan storingen in de telecommunicatie infrastructuur (internet), binnenlandse onlusten, mobilisatie, oorlog, stremming in het vervoer, staking, uitsluiting, bedrijfsstoornissen, stagnatie in toelevering, brand, overstroming, in- en uitvoerbelemmeringen en in het geval dat FlexForceMonkey door zijn eigen leveranciers, ongeacht de reden daartoe, niet tot levering in staat wordt gesteld waardoor nakoming van de Overeenkomst redelijkerwijs niet van FlexForceMonkey kan worden gevergd, zal de uitvoering van de Overeenkomst worden opgeschort, dan wel de Overeenkomst worden beëindigd, alles zonder enige verplichting tot schadevergoeding.</p>
        <br />

        <p id="duur">Artikel 15. Duur en beëindiging</p>
        <p>15.1. Iedere Overeenkomst met FlexForceMonkey komt tot stand voor onbepaalde tijd. Tenzij schriftelijk anders is overeengekomen.</p>
        <p>15.2. Indien een Gratis Licentie door FlexForceMonkey, na een minimale maand aankondigingstermijn, wordt omgezet naar een betaalde vorm van Overeenkomst, heeft de Klant het recht deze wijziging niet te accepteren. In dat geval zal beëindiging van de Overeenkomst automatisch plaatsvinden op het aangekondigde moment van betaling.</p>
        <p>15.3. De Overeenkomst volgens Gratis Licentie kan door een Partij met onmiddellijke ingang worden opgezegd, welke opzegging zonder redenen en motivering mag plaatsvinden.</p>
        <p>15.4. De Overeenkomst volgens schriftelijk afgestemde betaalde Licentie op basis van pay per use kan worden opgezegd volgens daarbij afgestemde opzegvoorwaarden. Wanneer deze niet bij de Overeenkomst zijn vastgesteld geld een standaard opzegtermijn van één (1) maand.</p>
        <p>15.5. De Overeenkomst volgens schriftelijk afgestemde betaalde Licentie op basis van committed use kan worden opgezegd volgens daarbij afgestemde opzegvoorwaarden. Wanneer deze niet bij de Overeenkomst zijn vastgesteld geld een standaard opzegtermijn van drie (3) maanden.</p>
        <p>15.6. Iedere opzegging door de Klant is pas definitief als deze door FlexForceMonkey schriftelijk (per e-mail) is bevestigd.</p>
        <p>15.7. FlexForceMonkey zal na beëindiging van de Overeenkomst de Administratie van Klant archiveren en vernietigen volgens richtlijnen zoals gesteld in de <a target="_blank" href="https://autoriteitpersoonsgegevens.nl/nl/onderwerpen/avg-nieuwe-europese-privacywetgeving">Europese Wetgeving rondom AVG</a>.</p>
        <p>15.8. Indien een Partij niet behoorlijk of niet binnen een gestelde termijn of anderszins tijdig voldoet aan enige verplichting die voor haar uit enige Overeenkomst mocht voortvloeien, is de ene Partij in verzuim en de andere Partij gerechtigd zonder ingebrekestelling de Overeenkomst geheel of gedeeltelijk te ontbinden, onverminderd de andere rechten van de ontbindende Partij en zonder dat de ontbindende Partij schadeplichtig is.</p>
        <p>15.9. In geval van een ontbinding of opzegging, zoals bedoeld in voorgenoemde artikelen, zullen de volgende verplichtingen na het einde van de Overeenkomst doorlopen: - openstaande vorderingen / betalingen;  - aansprakelijkheid.</p>
        <br />

        <p id="wijzigingen">Artikel 16. Wijzigingen AV</p>
        <p>16.1. FlexForceMonkey behoudt zich het recht voor deze Algemene Voorwaarden te wijzigen of aan te vullen.</p>
        <p>16.2. Wijzigingen gelden ook ten aanzien van reeds gesloten Overeenkomsten met inachtneming van een termijn van 30 dagen na bekendmaking van de wijziging per email via het bij FlexForceMonkey bekende emailadres. Wijzigingen van ondergeschikt belang kunnen te allen tijde worden doorgevoerd.</p>
        <p>16.3. Indien Klant een wijziging in deze Algemene Voorwaarden niet wil accepteren, kan hij tot de datum waarop de nieuwe voorwaarden van kracht worden de overeenkomst beëindigen tegen deze datum of op de ontvangstdatum van de opzegging indien deze na de ingangsdatum van de wijziging is.</p>
        <br />
        
        <p id="slotbepalingen">Artikel 17. Slotbepalingen</p>
        <p>17.1. Op de Overeenkomst is Nederlands recht van toepassing.</p>
        <p>17.2. Verandering in management of rechtsvorm hebben geen invloed op de Overeenkomst.</p>
        <p>17.3. Voor zover door de regels van dwingend recht niet anders wordt voorgeschreven, zullen alle geschillen die mochten ontstaan naar aanleiding van de Overeenkomst worden voorgelegd aan de bevoegde Nederlandse rechter te Arnhem.</p>
        <p>17.4. Over partiële nietigheid: indien een bepaling uit de Overeenkomst en/of de Algemene Voorwaarden nietig blijkt te zijn, tast dit niet de geldigheid van de gehele Overeenkomst en Algemene Voorwaarden aan. Partijen zullen ter vervanging (een) nieuwe bepaling(en) vaststellen, waarmee zoveel als rechtens mogelijk is aan de bedoeling van de oorspronkelijke overeenkomst en Algemene Voorwaarden gestalte wordt gegeven.</p>
    </div>
</div>