<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexForceMonkey</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="./public/css/normalize.css">
    <link rel="stylesheet" href="./public/css/style.css">
    <!-- FAVICONS -->
    <!-- OPEN GRAPH SOCIAL MEDIA -->
</head>
<body>
    <nav id="navbar">
        <h2>Hier komt de navigatie</h2>
    </nav>

    {{{body}}}

    <footer id="footer">
        <h2>Hier komt de footer</h2>
    </footer>

    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="./public/js/script.js"></script>
</body>
</html>