<section id="notfound" class="full-screen">
    <div class="container text-center">
        <h2 class="section-title">{{ translation.error.TITLE }}</h2>
        <p class="sub-title">{{ translation.error.SUBTITLE }}</p>
        <a href="/" class="btn-complementary-xl">{{ translation.error.GOTOHOME }}</a><br />
        <img src="./public/images/we-slipped.svg" alt="Page not found image">
    </div>
</section>