<section id="notfound" class="full-screen">
    <div class="container text-center">
        <h2 class="section-title">Sorry, we slipped!</h2>
        <p class="sub-title">We konden de pagina niet vinden waar je naar zocht.</p>
        <a href="/" class="btn-complementary-xl">Ga naar homepagina</a><br />
        <img src="./public/images/we-slipped.svg" alt="Page not found image">
    </div>
</section>