{{> base-nav-en}}

<section id="hero" class="hirer">
    <div class="hero-title">
        <h1>
            <strong>Do you want to build a human-centric supply chain with us?</strong> 
            <br />Join the collaborative flex experience!
        </h1>
    </div>
    <div class="iframe">
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/UUSmUoriNkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="hirer-intro" class="hirer-intro full-screen">
    <div class="container">
        <h2 class="section-title">Is temp labor procurement one of your most complex processes? Let us help you to simplify.</h2>
        <div class="section-container">
            <p class="sub-title">Meet the Business Network in Flex</p>
            <div class="section-text scrollleft">
                <p>We understand your challenges. There are many actions to be performed across various systems, such as P2P, HRM and Accounts Payable. Data sharing with your supplier is often organized via email and data entry is manual. Now imagine there is a communication platform which can solve all those problems at once. Share contracts, worker data, timesheets and invoices easily online and adopt transparency and a secure environment as your standard.</p>
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">Get in touch with us</button>
            </div>
            <img class="scrollright" src="./public/images/puzzel-aap.png" alt="Puzzle Monkey">
        </div>
    </div>
</section>

<div class="banner banner-buyer">
    <div class="banner-container animation-banner">
        <div class="banner-title">
            <img src="../public/images/simple-monkey.png" alt="Simple">
            <h2>Simple</h2>
        </div>
        <div class="banner-title">
            <img src="../public/images/fast-monkey.png" alt="Fast">
            <h2>Fast</h2>
        </div>
        <div class="banner-title">
            <img src="../public/images/secure-monkey.png" alt="Secure">
            <h2>Secure</h2>
        </div>
        <div class="banner-title">
            <img src="../public/images/fair-monkey.png" alt="Fair">
            <h2>Fair</h2>
        </div>
    </div>
</div>

<section id="hirer-kit" class="full-screen">
    <div class="container">
        <h2 class="section-title">Fast supply chain integration: Online in the blink of an eye! With standardized connectors and a user friendly supplier portal.</h2>
        <div class="section-container">
            <img class="scrollleft" src="./public/images/stekkerdoos.png" alt="The FlexForceMonkey connectionbox">
            <div class="section-text scrollright">
                <p>Getting collaboration going in the contingent labor supply chain has never been this easy:</p>
                <ol>
                    <li>Subscribe your organization</li>
                    <li>Connect the systems that make up your end to end procure-to-pay cycle</li>
                    <li>Invite you suppliers</li>
                    <li>Run your daily sharing of contracts, flex worker data, timesheets and invoices</li>
                </ol>
            </div>
            <div class="text-center">
                <a class="btn-complementary-xl text-center" onclick="menuScroll('#contact')">Get in touch</a>
            </div>
        </div>
    </div>
</section>

<section id="hirer-options" class="full-screen">
    <div class="container">
        <h2 class="section-title">Do you consider it your role to protect the flex worker down the chain? Let’s build the worlds’ most human-centric supply chain!</h2>
        <div class="section-container">
            <div class="section-text scrollleft">
                <p>FlexForceMonkey helps you in taking your responsibilities seriously. Privacy by design, lowered entry barriers and transparency by default are examples that make you grow with your network instead of because of it.</p>
                <p>No matter which systems you use for your internal end to end process, we are not very picky in our data sources. We understand that a Purchase to Pay system requires something else from a flex procurement process than an HR system. We transform your internal data smoothly into collaboration processes where suppliers and those flex workers can take their role and get their insights.</p>
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">Get in touch</button>
            </div>
            <img class="scrollright" src="./public/images/computeraap.png" alt="Computer Monkey">
        </div>
    </div>
</section>

{{> pricemodel-hirer-en }}

{{> contact-en }}