{{> base-nav-en}}

<section id="hero" class="hirer">
    <div class="hero-title">
        <h1>
            <strong>So you would like to link all your hiring suppliers to your way of working without hassle? Want to integrate everyone into your P2P process, HR system or Finance flow via one supplier platform? We think that is logical!</strong> 
            <br />Join the collaborative flex experience!
        </h1>
    </div>
    <div class="iframe">
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/UUSmUoriNkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="hirer-intro" class="hirer-intro full-screen">
    <div class="container">
        <h2 class="section-title">Is hiring temporary labor one of the most complex processes to optimize in your organization?</h2>
        <div class="section-container">
            <p class="sub-title">Meet the Business Network in Flex</p>
            <div class="section-text scrollleft">
                <p>We understand that challenge. There is also a lot to be done simultaneously across various departments, such as P2P, HRM and Accounts Payable. And then your supplier also uses processes and standards that make it difficult to work together. You try to connect systems with all kinds of customization, but the knots get messed up and your puzzle just doesn't get finished. Now imagine that there is a communication platform that can solve all those problems at once.</p>
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">Get in touch with us</button>
            </div>
            <img class="scrollright" src="./public/images/puzzel-aap.png" alt="Puzzle Monkey">
        </div>
    </div>
</section>

<div class="banner banner-hirer">
    <div class="banner-container animation-banner">
       <h1 class="banner-title title-1">Faster</h1>
        <h1 class="banner-title title-2">More flexible</h1>
        <h1 class="banner-title title-3">More carefree</h1>
        <h1 class="banner-title title-4">Optimized</h1>
    </div>
</div>

<section id="hirer-kit" class="full-screen">
    <div class="container">
        <h2 class="section-title">Online in the blink of an eye: Standard plugs make the difference</h2>
        <div class="section-container">
            <img class="scrollleft" src="./public/images/stekkerdoos.png" alt="The FlexForceMonkey connectionbox">
            <div class="section-text scrollright">
                <p>Corporate integration software made as easy as taking out an internet subscription? Yep, born in the cloud, thinking naturally in terms of collaboration, that requires quick solutions. And that is what you get.</p>
            </div>
            <div class="text-center">
                <a class="btn-complementary-xl text-center" onclick="menuScroll('#contact')">Get in touch</a>
            </div>
        </div>
    </div>
</section>

<section id="hirer-options" class="full-screen">
    <div class="container">
        <h2 class="section-title">Connect with your purchasing system or your HR process</h2>
        <div class="section-container">
            <p class="sub-title">A menu of connection options always makes your optimization leading for integration as standard.</p>
            <div class="section-text scrollleft">
                <p>The most special thing about FlexForceMonkey is that we are not demanding on your system. We understand that a P2P system requires something different from a hiring process than an HCM system. So whether you want to shop with us with a catalog buying process via punch-out, or want to have a data feed offered as HR master data. Whether you have a time registration system yourself or want to receive that data from your supplier. We have a solution for all common processes. And we connect your supplier (s) for you with the digital sauce they ask for. Easy online collaboration.</p>
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">Get in touch</button>
            </div>
            <img class="scrollright" src="./public/images/computeraap.png" alt="Computer Monkey">
        </div>
    </div>
</section>

{{> pricemodel-hirer-en }}

{{> contact-en }}