{{> base-nav }}

<section id="connect" class="with-base-nav">
    <div class="container">
        <h2 class="section-title">Sluit je aan!</h2>
        <div class="section-container">
            <h4 class="text-center">Laat je informatie achter en wij sturen je de aansluitkit</h4>
            {{#if messages.success}}
                <p class="flash flash-success text-center">Je aanvraag is ingediend. Je krijg de aansluitkit zo snel mogelijk!</p>
            {{/if}}
            <p class="text-center">Velden met een * zijn vereist</p>
            <form method="POST" action="sendconnectkit">
                <div class="form-group">
                    <label for="name">Naam*</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Telefoonnummer</label>
                    <input type="text" id="phone" name="phone">
                </div>
                <div class="form-group">
                    <label for="compname">Bedrijfsnaam*</label>
                    <input type="text" id="compname" name="compname" required>
                </div>
                <div class="form-group">
                    <label for="street">Straat*</label>
                    <input type="text" id="street" name="street" required>
                </div>
                <div class="form-group">
                    <label for="number">Huisnummer*</label>
                    <input type="number" id="number" name="number" required>
                </div>
                <div class="form-group">
                    <label for="postal">Postcode*</label>
                    <input type="text" id="postal" name="postal" required>
                </div>
                <div class="form-group">
                    <label for="city">Plaats*</label>
                    <input type="text" id="city" name="city" required>
                </div>
                <div class="form-group">
                    <label for="city">Opmerkingen*</label>
                    <textarea name="notes" id="notes" cols="30" rows="5"></textarea>
                </div>
                <p>Wij gebruiken deze data enkel voor verzending van onze aansluitkit en voor opvolging voor ontvangst.</p>
                <div class="form-group">
                    <input type="checkbox" name="newsletters" value="Ja"> Email adres mag gebruikt worden voor nieuwsbrieven <br />
                    <input type="checkbox" name="productUpdates" value="Ja"> Email adres mag gebruikt worden voor product updates <br />
                    <input type="checkbox" name="individualContact" value="Ja"> Email adres mag gebruikt worden voor gericht individueel contact
                </div>
                <p class="antispam">Leave this empty: <input type="text" name="url"></p>
                <div class="form-group text-center">
                    <input type="submit" class="btn-complementary-xl" value="Verstuur">
                </div>
            </form>
        </div>
    </div>
</section>