<section id="database">
    <div class="container">
        <h2 class="section-title">Database</h2>
        <div class="section-container">
            <div class="contact">
                <h5 class="table-title">Contactforms</h5>
                <button class="btn-primary" onclick="getContactData()">Get contact data</button>
                <table id="contactTable" class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Date</th>
                            <th>Subject</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>