{{> base-nav-en}}

<section id="intro-home-new" class="full-screen en-home">
    <h2 class="hero-title">Let's build the worlds most human-centric supply chain!</h2>
    <div class="hero-container">
        <div class="text-container">
            <p>Where daily collaboration between buyers and suppliers in contingent labor gets done</p>
            <div class="btn-container-inside">
                <a onclick="menuScroll('#opdrachtgever')" class="btn-complementary-xl">Join the collaborative flex experience</a>
            </div>
        </div>
        <div class="img-container">
            <img src="../public/images/hero-desk.svg" alt="Desk">
        </div>
    </div>
    <div class="scrolldiv">
        <button id="inpage_scroll_btn" class="btn-primary standard-button inpage-scroll" onclick="menuScroll('#whitepaper-banner-home')">
            <span class="screen-reader-text">
                More FlexForceMonkey<br />
            </span>
            <span class="fa fa-angle-down"></span>
        </button>
    </div>
    <div class="monkey-bottom">
        {{> halfmonkeyhead}}
    </div>
</section>

<div class="banner banner-whitepaper" id="whitepaper-banner-home">
    <div class="banner-container">
        <p>We see flexible work as the corner stone in an entrepreneurial future. A future full of innovation and sustainability. A future where businesses thrive and efficiency is key to support growth. We see a marketplace though that is guardrailed to offer a safe environment. One where people can be activated and included via privacy-secure data processes instead of being leveraged as expendible resources.</p>
        <p class="accent">Will you join our collaborative flex experience?</p>
        <a href="/ebook" class="btn-complementary-xl">Download our whitepaper</a>
    </div>
</div>

<section id="icons">
    <div class="container">
        <div class="icons">
            <div class="icon-container">
                <div class="icon">
                    <img src="../public/images/simple-monkey.png" alt="Simple">
                </div>
                <h4>Simple</h4>
            </div>
            <div class="icon-container">
                <div class="icon">
                    <img src="../public/images/fast-monkey.png" alt="Fast">
                </div>
                <h4>Fast</h4>
            </div>
            <div class="icon-container">
                <div class="icon">
                    <img src="../public/images/secure-monkey.png" alt="Secure">
                </div>
                <h4>Secure</h4>
            </div>
            <div class="icon-container">
                <div class="icon">
                    <img src="../public/images/fair-monkey.png" alt="Fair">
                </div>
                <h4>Fair</h4>
            </div>
        </div>
        <p class="sub-title">100% connected marketplace in contingent labor</p>
    </div>
</section>

<section id="ffm-home">
    <div class="container">
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/_Xl4Q8YkPss" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h2 class="sub-title">
            One trade-platform to solve all market collaboration needs, <br/>
            FlexForceMonkey | The business network in Flex
        </h2>
    </div>
</section>

<section id="buyer">
    <div class="container">
        <h2 class="section-title">Buyer</h2>
        <div class="section-container">
            <div class="section-img col-left">
                <img src="../public/images/computeraap.png" alt="">
            </div>
            <div class="section-text col-right">
                <p>Imagine being able to manage your full supply base in a controlled end-to-end process in a 100% digitized way. Data from HR, Purchasing and Finance flow through one platform and suppliers seamlessly add their information. Side communication is attached to those process-files and 3-way-matching is a default option. This delivers pure efficiency and relentless transparency independent from which systems you currently use.</p>
                <a class="btn-light-grey" href="/buyer">More...</a>
                <a class="btn-complementary" href="/buyer#contact">Get in touch</a>
            </div>
        </div>
    </div>
</section>

<section id="supplier">
    <div class="container">
        <h2 class="section-title">Supplier</h2>
        <div class="section-container">
            <div class="section-text col-left">
                <p>Imagine being able to manage all your customer relations and transactions behind one login. Independent of the recruitment platforms that were used, the administrative software that your customers execute, etcetera. One human-friendly interface where you can track your data and have relentless transparency. No matter if you are part of the Freelance-, SME- or Corporate-500-world.​</p>
                <a class="btn-light-grey" href="/supplier">More...</a>
                <a class="btn-complementary" href="/supplier#contact">Get in touch</a>
            </div>
            <div class="section-img col-right">
                <img src="../public/images/puzzel-aap.png" alt="">
            </div>
        </div>
    </div>
</section>

<section id="ecosystem">
    <div class="container">
        <h2 class="section-title">Become part of our ecosystem</h2>
        <div class="section-container">
            <div class="col-left">
                <p class="sub-title">We connect systems and platforms, unlocking our potential to theirs and unlocking theirs to a Simple, Fast, Secure and Fair marketplace. ​We are always open for new partners to connect to and resell our solution in their corner of this human-centric supply chain.​</p>
                <div class="btn-row">
                    <a class="btn-light-grey" href="">More...</a>
                    <a class="btn-complementary" href="">Get in touch</a>
                </div>
            </div>
            <div class="col-right">
                <ul class="logos">
                    <li class="logo"><img src="../public/images/logos/sap-partner.png" alt="SAP"></li>
                    <li class="logo"><img src="../public/images/logos/easyflex.png" alt="Easyflex"></li>
                    <li class="logo"><img src="../public/images/logos/flexservice.png" alt="Flex service"></li>
                    <li class="logo"><img src="../public/images/logos/pivoton.png" alt="Pivoton"></li>
                    <li class="logo"><img src="../public/images/logos/afas.png" alt="AFAS"></li>
                    <li class="logo"><img src="../public/images/logos/pep.png" alt="PEP Flex"></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="testimonial">
    <div class="container">
        <h2 class="section-title">How Majorel got her global supply chain made human-centric​</h2>
        <div class="section-container">
            <div class="section-text col-left">
                <p>Majorel wanted to optimize their internal hiring process in order to speed up payments in the supply chain. Nowadays their FlexForceMonkey account flows data between a US-based Kronos HR system, an SAP Financial administration located in France and several of their temp labor suppliers. Meanwhile their contract assignments and invoice processing are harmonized through the multi-lingual online portal.​</p>
                <a class="btn-complementary" href="">Get in touch</a>
            </div>
            <div class="section-img col-right">
                <img src="../public/images/callcenter.png" alt="Majorel">
            </div>
        </div>
    </div>
</section>



