<section id="database">
    <div class="container">
        <h2 class="section-title">Sorry, something went wrong!</h2>
        <div class="section-container text-center">
            <p>{{ errormsg }}</p>
            <form action="logout" method="POST">
                <input type="submit" value="Log out">
            </form>
        </div>
    </div>
</section>