{{> base-nav}}

<section id="feedback" class="full-screen">
    <div class="container text-center">
        {{#iff sent '==' 'error'}}
            <h2 class="section-title">Er is iets misgegaan..</h2>
            <p class="sub-title">..met het versturen van je feedback. Zou je het nog eens willen proberen?</p>
            <div class="backhome text-center">
                <a href="/" class="btn-complementary-xl"><span class="fa fa-home"></span> Terug naar home</a>
            </div>
            <div class="smilies">
                <a onclick="postFeedback(4)" class="smily veryhappy">
                    <img class="monkey" src="../public/images/feedback/very-happy-monkey.png" alt="Very happy">
                    <img class="board" src="../public/images/feedback/bord-veryhappy.svg">
                </a>
                <a onclick="postFeedback(3)" class="smily happy">
                    <img class="monkey" src="../public/images/feedback/happy-monkey.png" alt="Happy">
                    <img class="board" src="../public/images/feedback/bord-happy.svg">
                </a>
                <a onclick="postFeedback(2)" class="smily nothappy">
                    <img class="monkey" src="../public/images/feedback/not-happy-monkey.png" alt="Not happy">
                    <img class="board" src="../public/images/feedback/bord-nothappy.svg">
                </a>
                <a onclick="postFeedback(1)" class="smily angry">
                    <img class="monkey" src="../public/images/feedback/angry-monkey.png" alt="Angry">
                    <img class="board" src="../public/images/feedback/bord-angry.svg">
                </a>
            </div>
        {{/iff}}
        {{#iff sent '==' 'success'}}
            <div class="givenscore">
                {{#iff score '==' 4}}
                    <h2 class="section-title">Bedankt!</h2>
                    <p class="sub-title">Jouw feedback wordt zeer gewaardeerd!</p>
                    <img src="../public/images/feedback/very-happy-monkey.png" alt="Very happy">
                {{/iff}}
                {{#iff score '==' 3}}
                    <h2 class="section-title">Bedankt!</h2>
                    <p class="sub-title">Jouw feedback wordt zeer gewaardeerd!</p>
                    <img src="../public/images/feedback/happy-monkey.png" alt="Happy">
                {{/iff}}
                {{#iff score '==' 2}}
                    <h2 class="section-title">Bedankt!</h2>
                    <p class="sub-title">Jammer dat je niet helemaal tevreden bent over ons. Misschien kunnen we je helpen? <a href="/integration-services#contact">Neem contact op</a></p>
                    <img src="../public/images/feedback/not-happy-monkey.png" alt="Not happy">
                {{/iff}}
                {{#iff score '==' 1}}
                    <h2 class="section-title">Bedankt!</h2>
                    <p class="sub-title">Jammer dat je niet tevreden bent over ons. Misschien kunnen we je helpen? <a href="/integration-services#contact">Neem contact op</a></p>
                    <img src="../public/images/feedback/angry-monkey.png" alt="Angry">
                {{/iff}}
            </div>
            <div class="backhome text-center">
                <a href="/" class="btn-complementary-xl"><span class="fa fa-home"></span> Terug naar home</a>
            </div>
        {{/iff}}
        {{#iff sent '==' undefined}}
            {{#iff score '!=' undefined}}
                <div class="givenscore score-{{score}}">
                {{#iff score '==' 4}}
                    <a onclick="postFeedback(4)" class="postscore score-4"></a>
                    <h2 class="section-title">Bedankt!</h2>
                    <p class="sub-title">Jouw feedback wordt zeer gewaardeerd!</p>
                    <img src="../public/images/feedback/very-happy-monkey.png" alt="Very happy">
                {{/iff}}
                {{#iff score '==' 3}}
                    <a onclick="postFeedback(3)" class="postscore score-3"></a>
                    <h2 class="section-title">Bedankt!</h2>
                    <p class="sub-title">Jouw feedback wordt zeer gewaardeerd!</p>
                    <img src="../public/images/feedback/happy-monkey.png" alt="Happy">
                {{/iff}}
                {{#iff score '==' 2}}
                    <a onclick="postFeedback(2)" class="postscore score-2"></a>
                    <h2 class="section-title">Bedankt!</h2>
                    <p class="sub-title">Jammer dat je niet helemaal tevreden bent over ons. Misschien kunnen we je helpen? <a href="/integration-services#contact">Neem contact op</a></p>
                    <img src="../public/images/feedback/not-happy-monkey.png" alt="Not happy">
                {{/iff}}
                {{#iff score '==' 1}}
                    <a onclick="postFeedback(1)" class="postscore score-1"></a>
                    <h2 class="section-title">Bedankt!</h2>
                    <p class="sub-title">Jammer dat je niet tevreden bent over ons. Misschien kunnen we je helpen? <a href="/integration-services#contact">Neem contact op</a></p>
                    <img src="../public/images/feedback/angry-monkey.png" alt="Angry">
                {{/iff}}
            </div>
            <div class="backhome text-center">
                <a href="/" class="btn-complementary-xl"><span class="fa fa-home"></span> Terug naar home</a>
            </div>
            {{/iff}}
        {{/iff}}
        {{#iff score '==' undefined}}
            {{#iff sent '==' undefined}}
            <h2 class="section-title">Wat vond je vandaag van ons?</h2>
            <p class="sub-title">Klik op een afbeelding om ons (anoniem) een score te geven</p>
            <div class="smilies">
                <a onclick="postFeedback(4)" class="smily veryhappy">
                    <img class="monkey" src="../public/images/feedback/very-happy-monkey.png" alt="Very happy">
                    <img class="board" src="../public/images/feedback/bord-veryhappy.svg">
                </a>
                <a onclick="postFeedback(3)" class="smily happy">
                    <img class="monkey" src="../public/images/feedback/happy-monkey.png" alt="Happy">
                    <img class="board" src="../public/images/feedback/bord-happy.svg">
                </a>
                <a onclick="postFeedback(2)" class="smily nothappy">
                    <img class="monkey" src="../public/images/feedback/not-happy-monkey.png" alt="Not happy">
                    <img class="board" src="../public/images/feedback/bord-nothappy.svg">
                </a>
                <a onclick="postFeedback(1)" class="smily angry">
                    <img class="monkey" src="../public/images/feedback/angry-monkey.png" alt="Angry">
                    <img class="board" src="../public/images/feedback/bord-angry.svg">
                </a>
            </div>
            {{/iff}}
        {{/iff}}
    </div>
</section>