{{> hirer-nav}}

<section id="hero" class="hirer">
    <div class="hero-title">
        <h1>
            <strong>Dus jij droomt van een volledig gedigitaliseerde keten? Inkoop- en verkooptransacties verwerken van zowel blue- als white-collar inhuur via één netwerk? Eén platform dat alle data-integratie afhandelt? Dat vinden wij logisch!</strong> 
            <br />Join the collaborative flex experience!
        </h1>
    </div>
    <div class="iframe">
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/UUSmUoriNkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="hirer-intro" class="hirer-intro full-screen">
    <div class="container">
        <h2 class="section-title">Als jij een uitzendbureau of adviesbedrijf runt, weet je wat we bedoelen</h2>
        <div class="section-container">
            <div class="section-text scrollleft">
                <p>Er zijn nogal wat systemen en processen in omloop en wat voor jullie organisatie het beste is levert nogal eens problemen met je klanten op. Hoe koppel je nu jullie ideale proces voor uren en facturen aan hun optimalisatie van inkoop? Zonder dat maatwerkintegraties je onnodige kosten opleveren graag!</p>
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">Neem nu contact met ons op</button>
            </div>
            <img class="scrollright" src="./public/images/puzzel-aap.png" alt="Puzzle Monkey">
        </div>
    </div>
</section>

<div class="banner banner-hirer">
    <div class="banner-container animation-banner">
       <h1 class="banner-title title-1">Sneller</h1>
        <h1 class="banner-title title-2">Flexibeler</h1>
        <h1 class="banner-title title-3">Zorgelozer</h1>
        <h1 class="banner-title title-4">Optimaler</h1>
    </div>
</div>

<section id="hirer-kit" class="full-screen">
    <div class="container">
        <h2 class="section-title">Online in een oogwenk: Standaard stekkers maken het verschil</h2>
        <div class="section-container">
            <img class="scrollleft" src="./public/images/stekkerdoos.png" alt="De FlexForceMonkey Aansluitbox">
            <div class="section-text scrollright">
                <p>Corporate integratiesoftware net zo eenvoudig gemaakt als het afsluiten van een internet abonnement? Yep, geboren in de cloud, van nature denkend in samenwerken, dat vraagt om snelle oplossingen. En die krijg je dan dus ook.</p>
            </div>
            <div class="text-center">
                <a class="btn-complementary-xl" onclick="menuScroll('#contact')">Neem nu contact op voor je eerste leveranciers integratie</a>
            </div>
        </div>
    </div>
</section>

<section id="hirer-options" class="full-screen">
    <div class="container">
        <h2 class="section-title">Met je inkoopsysteem of je HR-proces aansluiten</h2>
        <div class="section-container">
            <p class="sub-title">Een menukaart van aansluitopties maakt standaard altijd jouw optimalisatie leidend voor integratie.</p>
            <div class="section-text scrollleft">
                <p>Het meest bijzondere aan FlexForceMonkey is wel dat wij niet veeleisend zijn aan jouw systeem. Of je nu vanuit een catalog buying proces via punch-out met ons wil shoppen, of een datafeed aangeboden wil hebben als HR stamgegeven. Of je nu met of zonder urenregistratie systeem deel wilt nemen. Wij hebben voor alle gangbare keuzes een combineerbare oplossing. En wij sluiten jouw leverancier(s) voor je aan met het digitale sausje waar zij om vragen. Eenvoudig online samenwerken dus.</p>
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">Neem nu contact met ons op</button>
            </div>
            <img class="scrollright" src="./public/images/computeraap.png" alt="Computer Monkey">
        </div>
    </div>
</section>

{{> blogs}}

{{> contact}}