{{> base-nav}}

<section id="intro-home-new" class="full-screen">
    <h2 class="hero-title">Join the collaborative flex experience!</h2>
    <div class="hero-container">
        <div class="text-container">
            <p>FlexForceMonkey is het platform voor eenvoudige systeem- en procesintegratie en veilig data-delen in de uren-keten. De plek waar opdrachtgevers en leveranciers samenwerken aan matchende flex administratie.</p>
            <div class="btn-container-inside">
                <p>Meer informatie voor jou als:</p>
                <a onclick="menuScroll('#opdrachtgever')" class="btn-complementary-xl">Opdrachtgever</a>
                <a onclick="menuScroll('#leverancier')" class="btn-complementary-xl">Leverancier</a>
                <a onclick="menuScroll('#invite')" class="btn-complementary-xl">je een uitnodiging hebt ontvangen</a>
            </div>
        </div>
        <div class="img-container">
            <img src="../public/images/bureau.png" alt="Bureau">
        </div>
    </div>
    <div class="scrolldiv">
        <button id="inpage_scroll_btn" class="btn-primary standard-button inpage-scroll" onclick="menuScroll('#ebook-banner-home')">
            <span class="screen-reader-text">
                Meer FlexForceMonkey<br />
            </span>
            <span class="fa fa-angle-down"></span>
        </button>
    </div>
    <div class="monkey-bottom">
        {{> halfmonkeyhead}}
    </div>
    {{!-- <div class="btn-container">
        <a onclick="menuScroll('#inlener')" class="btn-complementary-xl">Inlener</a>
        <a onclick="menuScroll('#uitzender')" class="btn-complementary-xl">Intermediair</a>
        <a onclick="menuScroll('#mkb')" class="btn-complementary-xl">MKB / ZZP-er</a>
    </div> --}}
</section>

<div class="banner banner-ebook" id="ebook-banner-home">
    <div class="banner-container">
        <h2 class="banner-title">Het Purchase to Pay proces van opdrachtgevers...</h2>
        <p>...door de ogen van een uitzender. Klinkt interessant? Lees er alles over in ons ebook!</p>
        <a href="/ebook" class="btn-complementary-xl">Download het ebook nu</a>
    </div>
</div>


<section id="ffm-home">
    <div class="container">
        <h2 class="section-title">FlexForceMonkey | Business network in flex</h2>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/_Xl4Q8YkPss" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="partners">
    <div class="container">
        <h2 class="section-title">Ons ecosysteem</h2>
        <p class="sub-title">Klik op een logo voor meer informatie</p>
        <div class="section-container slide-container">
            <ul class="slides">
                <li class="slide slide-1">
                    <a href="/partners#sap"><img src="../public/images/logos/sap-partner.png" alt="SAP"></a>
                </li>
                <li class="slide slide-2">
                    <a href="/partners#easyflex"><img src="../public/images/logos/easyflex.png" alt="Easyflex"></a>
                </li>
                <li class="slide slide-3">
                    <a href="/partners#flexservice"><img src="../public/images/logos/flexservice.png" alt="Flex service"></a>
                </li>
                <li class="slide slide-4">
                    <a href="/partners#pivoton"><img src="../public/images/logos/pivoton.png" alt="Pivoton"></a>
                </li>
                <li class="slide slide-5">
                    <a href="/partners#afas"><img src="../public/images/logos/afas.png" alt="AFAS"></a>
                </li>
                <li class="slide slide-6">
                    <a href="/partners#pepflex"><img src="../public/images/logos/pep.png" alt="PEP Flex"></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="opdrachtgever">
    <div class="container">
        <h2 class="section-title">Opdrachtgever</h2>
        <div class="section-container">
            <div class="section-img col-left">
                <img src="../public/images/computeraap.png" alt="">
            </div>
            <div class="section-text col-right">
                <p>Verwerken van gewerkte uren en bijbehorende facturen is een werkje dat bij tijdelijke inhuur nogal eens in mismatches en handmatige acties eindigt. Wil jij zeker weten dat urenregistraties tussen jullie en je leveranciers naadloos overeen komen, en dus soepel en efficiënt verwerkt worden, dan is geïntegreerd samenwerken via FlexForceMonkey een logische keuze.</p>
                <a class="btn-light-grey" href="/opdrachtgever">Lees meer...</a>
                <a class="btn-complementary" href="/opdrachtgever#contact">Vraag demo aan</a>
            </div>
        </div>
    </div>
</section>

<section id="leverancier">
    <div class="container">
        <h2 class="section-title">Leverancier</h2>
        <div class="section-container">
            <div class="section-text col-left">
                <p>Als intermediair uren afstemmen met een opdrachtgever is vaak een heel avontuur. Zeker wanneer de CAO-interpretatie nog moet gebeuren, of er handmatig data uit systemen van hun moet worden gedownload. Een digitale uren-koppeling en naadloze data-uitwisseling lijkt ons dan een lekker begin naar een betere ervaring. En die begint hier.</p>
                <a class="btn-light-grey" href="/leverancier">Lees meer...</a>
                <a class="btn-complementary" href="/leverancier#contact">Vraag demo aan</a>
            </div>
            <div class="section-img col-right">
                <img src="../public/images/puzzel-aap.png" alt="">
            </div>
        </div>
    </div>
</section>

<section id="invite">
    <div class="container">
        <h2 class="section-title">Ben je uitgenodigd om een account aan te maken?</h2>
        <div class="section-container">
            <div class="section-img col-left">
                <img src="../public/images/ipad-aap.png" alt="">
            </div>
            <div class="section-text col-right">
                <p>Wanneer jouw leverancier of jouw opdrachtgever gebruik maakt van de diensten van FlexForceMonkey kun je uitgenodigd worden om een account aan te maken op de portal van ons platform. Een eenvoudige handeling die de deur open zet naar een soepel proces om samen HR-data uit te wisselen, contracten te registreren, gewerkte uren af te handelen en facturen te matchen.</p>
                <a class="btn-light-grey" href="/invited">Lees meer...</a>
                {{!-- <a class="btn-complementary" target="_blank" href="https://app.flexforcemonkey.com/home">Maak een gratis account aan</a> --}}
            </div>
        </div>
    </div>
</section>