<section id="intro-home-temp" class="full-screen">
    <div class="part-left part">
        <div class="animation-container">
            <img src="../public/images/slingeraap-links.png" alt="Slinger aap animatie">
        </div>
        <div class="text-container">
            <h2>Flexjungle</h2>
            <p>Hier leren afnemers en aabieders in flex samenwerken. Lekker browsen door content voor uitzenders en inkopers.</p>
            <a href="http://flexjungle.flexforcemonkey.com/" target="_blank" class="btn-complementary-xl">Ga naar Flexjungle <span class="fa fa-external-link-alt"></span></a>
        </div>
    </div>
    <div href="#ffm" class="part-right part">
        <div class="animation-container">
            <img src="../public/images/slingeraap.png" alt="Slinger aap animatie">
        </div>
        <div class="text-container">
            <h2>Software as a service</h2>
            <p>Software voor systeemintegratie, cao-ontrafeling, opdrachten, uren en facturen in flex.</p>
            <button onclick="menuScroll('#ffm-home')" class="btn-complementary-xl">Ga naar software</button>
        </div>
    </div>
    <div class="hero-title">
        <h1>
            <span class="logo">FlexForceMonkey</span><br />
            <span class="sublogo">Business network for Flex</span><br/>
            Eén platform waar uitzendbureau, inlener, ZZP-er en consulting bedrijf samenwerken aan een efficiënt proces
        </h1>
    </div>
</section>

<section id="ffm-home">
    <div class="container">
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/UUSmUoriNkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="section-container">
            <a href="https://app.flexforcemonkey.com/login" target="_blank" class="login btn btn-dark-grey-xl">Inloggen op ons platform</a>
            <p>Of wil je meer informatie over de diensten die we daar aanbieden?</p>
            <div class="btn-row">
                <a href="/hirer" class="btn-complementary">Lees meer over onze integratiediensten</a>
                <a href="/supplier" class="btn-complementary">Lees meer over onze cao ontrafelaar</a>
                <a href="/freelancer" class="btn-complementary">Lees meer over onze online software voor urenregistratie en facturatie</a>
            </div>
        </div>
    </div>
</section>

<section id="partners">
    <div class="container">
        <h2 class="section-title">Ons ecosysteem</h2>
        <p class="sub-title">Klik op een logo voor meer informatie</p>
        <div class="section-container slide-container">
            <ul class="slides">
                <li class="slide slide-1">
                    <a href="/partners#sap"><img src="../public/images/logos/sap-partner.png" alt="SAP"></a>
                </li>
                <li class="slide slide-2">
                    <a href="/partners#easyflex"><img src="../public/images/logos/easyflex.png" alt="Easyflex"></a>
                </li>
                <li class="slide slide-3">
                    <a href="/partners#flexservice"><img src="../public/images/logos/flexservice.png" alt="Flex service"></a>
                </li>
                <li class="slide slide-4">
                    <a href="/partners#pivoton"><img src="../public/images/logos/pivoton.png" alt="Pivoton"></a>
                </li>
                <li class="slide slide-5">
                    <a href="/partners#afas"><img src="../public/images/logos/afas.png" alt="AFAS"></a>
                </li>
                <li class="slide slide-6">
                    <a href="/partners#pepflex"><img src="../public/images/logos/pep.png" alt="PEP Flex"></a>
                </li>
            </ul>
        </div>
    </div>
</section>