<section id="promises">
    <div class="container">
        <div class="text">
            <h2>Wat we beloven? Zorgeloos samenwerken!</h2>
            <p>FlexForceMonkey laat inleners en uitzenders eenvoudiger samenwerken. Onze intelligente software zorgt ervoor dat de administratie tussen beiden naadloos aansluit. Digitaal afstemmen van uren en facturen is in no-time live. Zonder discussies over welk proces leidend is. Zonder uurtarieven in het klantsysteem die afwijken van de cao. Zonder referentie-issues omdat de uitzender even het laatste PO-nummertje niet had genoteerd... Gewoon opdrachten sturen, tijd verantwoorden, facturen matchen en betalen zoals je samen hebt afgesproken. En dat alles zonder dat één van de twee hun eigen primaire werkproces aan hoeft te passen!</p>
        </div>
        <div class="row">
            <div class="column cloud">
                <span class="fa fa-cloud"></span>
                <h3 class="promise-title">In de cloud</h3>
                <p class="promise-text">
                    FlexForceMonkey is ontwikkeld als public cloud integratieplatform. Een naadloze samenwerking tussen inlener en leverancier. Dat kan door integratie van reguliere ERP, VMS en P2P pakketten met de digitale administratie van uitzendbureaus, maar ook door inzet van onze gebruiksvriendelijke portal. Secure zoals het hoort, flexibel zoals je wenst.
                </p>
            </div>
            <div class="column cao">
                <span class="fa fa-users"></span>
                <h3 class="promise-title">CAO data beheren</h3>
                <p class="promise-text">
                    Zeg je 'inkopen van uitzendkrachten', dan heb je het ook direct over cao gegevens. Naast integratiesoftware, is FlexForceMonkey ook een dienst. Hiermee onderhouden we de complexe berekeningen die nodig zijn om inkoop- en uitzenddata in één proces samen te smelten. Alle gebruikte cao's zijn beschikbaar, maar specifieke condities kunnen we altijd verwerken.
                </p>
            </div>
            <div class="column bericht">
                <span class="fa fa-file"></span>
                <h3 class="promise-title">Berichtstandaarden</h3>
                <p class="promise-text">
                    Voor systeemintegratie van inleners hebben we verschillende scenario's beschikbaar en gebruiken we diverse koppelvlakken. Deze zijn volledig gebaseerd op berichtstandaarden. Hierin zitten formaten als OCI (inderdaad, we integreren uitzendkrachten ook via een punch out koppeling), UBL en cXML. Met uitzendbureau's koppelen wij vooral via SETU (HR-XML).
                </p>
            </div>
        </div>
    </div>
</section>