{{> software-nav}}

<section id="hero" class="freelancer">
    <div class="hero-title">
        <h1><strong>Het draait toch om de kwaliteit van jullie uren? De administratie ervan moet eigenlijk vanzelf gaan.</strong><br/>  Join the collaborative flex experience</h1>
    </div>
    <div class="iframe">
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/UUSmUoriNkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="freelancer-intro" class="full-screen">
    <div class="container">
        <h2 class="section-title">ZZP-er of global consulting, jouw droom is inhoudelijk werk</h2>
        <div class="section-container">
            <p class="sub-title">Dus waarom zou jij je energie en tijd verdoen aan het najagen van timesheets en facturen?</p>
            <div class="section-text scrollleft">
                <p>FlexForceMonkey biedt niet zomaar software voor urenregistratie, wij bieden een platform dat is ontstaan vanuit samenwerking tussen klant en leverancier. Hier maak je dus niet enkel een timesheet, hier zit controle en communicatie van die uren met jouw klant direct in de standaard oplossing.</p>
                <a class="btn-light-grey-xl" target="_blank" onclick="menuScroll('#pricemodel')">REGISTREER JE NU VOOR EEN ONLINE ACCOUNT</a>
            </div>
            <img class="scrollright" src="./public/images/computeraap.png" alt="Computer Monkey">
        </div>
    </div>
</section>

<div class="banner banner-usecases">
    <div class="banner-container">
        <h1 class="banner-title">Snel zien hoe je FlexForceMonkey kunt toepassen?</h1>
        <a href="/use-cases#onlinesoftware" class="btn-complementary-xl">Bekijk onze pagina met use cases</a>
    </div>
</div>

<section id="try" class="full-screen">
    <div class="container">
        <h2 class="section-title">Een gratis basis account en hoge schaalbaarheid?</h2>
        <div class="section-container scrollleft">
            <p class="sub-title">Iedereen is voor ons gelijk, of je nu freelancer bent of als bemiddelaar maandelijks 1.000 professionals doorleent.</p>
            <div class="section-text">
                <p>Wij geloven in de toekomst van flexwerk. We zien het als het cement onder onze economische toekomst en hebben de droom om die hele markt een beetje efficiënter, transparanter en eerlijker te maken. Het is daarbij onze strategie dat de hele flex-branche online en connected wordt, dat vraagt om een laagdrempelige instap en schaalbare kosten.</p>
                <p class="sub-title">Uiteindelijk wordt iedereen daar beter van, toch?</p>
                <a class="btn-complementary-xl" target="_blank" onclick="menuScroll('#pricemodel')">SLUIT JE NU AAN EN REGISTREER JE ACCOUNT</a>
            </div>
        </div>
    </div>
    <img class="small-screen" src="./public/images/stekker-aap-small.png" alt="Een gratis basis account en hoge schaalbaarheid?">
    <img class="normal-screen" src="./public/images/stekker-aap-normal.png" alt="Een gratis basis account en hoge schaalbaarheid?">
    <img class="big-screen" src="./public/images/stekker-aap-big.png" alt="Een gratis basis account en hoge schaalbaarheid?">
</section>

<div class="banner banner-ebook">
    <div class="banner-container">
        <h2 class="banner-title">Het Purchase to Pay proces van opdrachtgevers...</h2>
        <p>...door de ogen van een uitzender. Klinkt interessant? Lees er alles over in ons ebook!</p>
        <a href="/ebook" class="btn-complementary-xl">Download het ebook nu</a>
    </div>
</div>

{{> pricemodel }}

{{> blogs}}

{{> contact}}