{{> base-nav-en}}

<section id="hero" class="partners-en">
    <div class="hero-title">
        <h1>Do you want to become our partner in building the worlds’ most human-centric supply chain?<br/>Join the collaborative flex experience!</h1>
    </div>
    <div class="iframe">
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/UUSmUoriNkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="supplier-intro" class="full-screen">
    <div class="container">
        <h2 class="section-title">Integration partner? Let us help you to simplify customer integration requests.</h2>
        <div class="section-container">
            <p class="sub-title">Meet the Business Network in Flex</p>
            <img class="scrollleft" src="./public/images/computeraap.png" alt="Computer Monkey">
            <div class="section-text scrollright">
                <p>We know about many buyers and suppliers in the market place that ask their software suppliers to setup custom point-to-point partner integrations. We offer a better approach in scaling these kind of requests:</p>
                <ol>
                    <li>Connect your platform to ours once</li>
                    <li>Refer your clients to us</li>
                    <li>We can support their request without you bothering any more</li>
                </ol>
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">Get in touch</button>
            </div>
        </div>
    </div>
</section>

<div class="banner banner-buyer">
    <div class="banner-container animation-banner">
        <div class="banner-title">
            <img src="../public/images/simple-monkey.png" alt="Simple">
            <h2>Simple</h2>
        </div>
        <div class="banner-title">
            <img src="../public/images/fast-monkey.png" alt="Fast">
            <h2>Fast</h2>
        </div>
        <div class="banner-title">
            <img src="../public/images/secure-monkey.png" alt="Secure">
            <h2>Secure</h2>
        </div>
        <div class="banner-title">
            <img src="../public/images/fair-monkey.png" alt="Fair">
            <h2>Fair</h2>
        </div>
    </div>
</div>

<section id="supplier-kit" class="full-screen">
    <div class="container">
        <h2 class="section-title">Reselling partnership? Let our portal and integration services complement your product.</h2>
        <div class="section-container">
            <img class="scrollleft" src="./public/images/stekkerdoos.png" alt="The FlexForceMonkey connectionbox">
            <div class="section-text scrollright">
                <p>When your Procurement platform or HR business suite does not support flex workers, consultants or freelancers to a proper extend, it is good to know that FlexForceMonkey can complement these categories to the processing in your software. Complete with supplier portal and integration services. You can commit to a reseller license so you are able to brand our capabilities as part of your service.</p>
            </div>
            <div class="text-center">
                <a class="btn-complementary-xl text-center" onclick="menuScroll('#contact')">Get in touch</a>
            </div>
        </div>
    </div>
</section>

<section id="partners" class="partner-banner-en">
    <div class="container">
        <h2 class="section-title">Ons ecosysteem</h2>
        <div class="section-container slide-container">
            <ul class="slides">
                <li class="slide slide-1">
                    <img src="../public/images/logos/sap-srm.png" alt="SAP SRM">
                    <img src="../public/images/logos/sap-mm.png" alt="SAP MM">
                    <img src="../public/images/logos/successfactors.png" alt="SuccessFactors">
                </li>
                <li class="slide slide-2">
                    <img src="../public/images/logos/kronos.png" alt="Kronos">
                    <img src="../public/images/logos/afas.png" alt="AFAS">
                    <img src="../public/images/logos/visma.png" alt="Visma">
                </li>
                <li class="slide slide-3">
                    <img src="../public/images/logos/easyflex.png" alt="EasyFlex">
                    <img src="../public/images/logos/pivoton.png" alt="Pivoton">
                    <img src="../public/images/logos/mysolution.png" alt="MySolution">
                </li>
                <li class="slide slide-4">
                    <img src="../public/images/logos/ortec.png" alt="Ortec">
                    <img src="../public/images/logos/onetrail.png" alt="OneTrail">
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="supplier-options" class="full-screen">
    <div class="container">
        <h2 class="section-title">Service partners to spread the word? Join the collaborative flex experience!</h2>
        <div class="section-container">
            <div class="section-text scrollleft">
                <p>Consultancy firms in the procurement, supply chain management, e-invoicing or human resource management realm are requested to get in touch. Let us discuss how you can help scaling up the worlds’ most human-centric supply chain and offer all these added value to your customers.</p>
            </div>
            <img class="scrollright" src="./public/images/puzzel-aap.png" alt="Puzzle Monkey">
            <div class="buttons">
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">Get in touch</button>
            </div>
        </div>
    </div>
</section>

{{> contact-en }}