{{> base-nav}}

<div id="partner-side-menu">
    <div class="side-container">
        <a onclick="menuScroll('#sap')" class="partner-item sap">SAP</a>
        <a onclick="menuScroll('#easyflex')" class="partner-item easyflex">Easyflex</a>
        <a onclick="menuScroll('#flexservice')" href="" class="partner-item flexservice">FlexService</a>
        <a onclick="menuScroll('#pivoton')" class="partner-item pivoton">Pivoton</a>
        <a onclick="menuScroll('#afas')" class="partner-item afas">AFAS</a>
        <a onclick="menuScroll('#pepflex')" class="partner-item pepflex">PEP Flex</a>
        <a onclick="menuScroll('#overig')" class="partner-item overig">Overig</a>
    </div>
</div>

<section id="sap" class="full-screen partner">
    <div class="container">
        <h2 class="section-title">SAP</h2>
        <div class="section-container">
            <p>Als wereldmarktleider op het gebied van bedrijfssoftware is SAP een bekende naam in iedere business to business digitalisering. Zeker waar het op staf processen als Inkoop en Human Resource Management aankomt is SAP van de partij. </p>
            <p>Via consulting partners van SAP kunnen wij snelle deployment regelen van het FlexForceMonkey Business Network in on-premise en cloud omgevingen van SAP. Eerder zijn er al koppelingen vanuit FlexForceMonkey gelegd met modules zoals SAP MM, SAP SRM, SAP HCM, SAP Fieldglass, SAP Ariba en SAP SuccesFactors, dus ook voor het landschap binnen jullie organisatie is er ongetwijfeld een passende stekker. </p>
            <a href="https://www.sap.com/netherlands/index.html" class="btn-complementary" target="_blank">Website</a>
            <a onclick="menuScroll('#contact')" class="btn-light-grey">Neem contact op</a>
        </div>
    </div>
</section>

<section id="easyflex" class="full-screen partner">
    <div class="container">
        <h2 class="section-title">Easyflex</h2>
        <div class="section-container">
            <p>Dit softwarepakket voor mid- en back-office processen in de flexbranche heeft als slogan “Maakt flexwerk eenvoudig”. Door te leven volgens deze missie maken zij gebruik van een breed palet en koppelvlakken waar externe systemen mee kunnen praten. Alles in het teken van eenvoud voor de uitzender die gebruik maakt van deze software. </p>
            <p>En dat merken wij ook, want de eerste keer dat FlexForceMonkey voor een pilot met EasyFlex samen werkte was zowel de informatie als het systeem goed toegankelijk. Wil je vanuit jouw EasyFlex account aansluiten op het Business Network van FlexForceMonkey? Geen probleem, de koppeling ligt klaar. </p>
            <a href="https://www.easyflex.nl/" class="btn-complementary" target="_blank">Website</a>
            <a onclick="menuScroll('#contact')" class="btn-light-grey">Neem contact op</a>
        </div>
    </div>
</section>

<section id="flexservice" class="full-screen partner">
    <div class="container">
        <h2 class="section-title">FlexService</h2>
        <div class="section-container">
            <p>Wil je geloven dat onze allereerste eerste klant op FlexService draaide? En ze zijn nog steeds actief met de koppeling naar het Business Network van FlexForceMonkey. Die integratie werkt dus wel en is als deployment uit te rollen. Met eventueel wat hulp als je niet in de cloud zit! </p>
            <a href="https://www.flexservice.com/" class="btn-complementary" target="_blank">Website</a>
            <a onclick="menuScroll('#contact')" class="btn-light-grey">Neem contact op</a>
        </div>
    </div>
</section>

<section id="pivoton" class="full-screen partner">
    <div class="container">
        <h2 class="section-title">Pivoton</h2>
        <div class="section-container">
            <p>Full service is the name of the game bij Pivoton. Aangezien ons softwareplatform, en vooral de on-boarding van business partners die in de standaard pricing zit, naadloos aansluit bij die filosofie zijn de relaties tussen FlexForceMonkey en het bedrijf in Ede prima. </p>
            <p>Als jij de koppeling naar de buitenwereld vanuit jouw Pivoton installatie via FlexForceMonkey wilt laten lopen is dat geen enkel probleem. De koppelingen liggen klaar en je kunt zowel Pivoton als ons bellen. Wij zijn gewend om de rest wel samen te regelen. </p>
            <a href="https://www.pivoton.nl/" class="btn-complementary" target="_blank">Website</a>
            <a onclick="menuScroll('#contact')" class="btn-light-grey">Neem contact op</a>
        </div>
    </div>
</section>

<section id="afas" class="full-screen partner">
    <div class="container">
        <h2 class="section-title">AFAS</h2>
        <div class="section-container">
            <p>AFAS maakt serieuze stappen in de flex markt tegenwoordig. De eerste koppelingen tussen AFAS en het Business Network van FlexForceMonkey zijn inmiddels gerealiseerd en dat loopt lekker door. De samenwerking is goed en de technische mogelijkheden groot.  </p>
            <p>Als jij de koppeling naar de buitenwereld vanuit jouw AFAS Profit instance via FlexForceMonkey wilt laten lopen is dat geen enkel probleem. De koppelingen liggen klaar om te deployen en je kunt voor eerste vragen zowel contact opnemen met AFAS als met ons. </p>
            <a href="https://www.afas.nl/branche/flexbranche" target="_blank" class="btn-complementary">Website</a>
            <a onclick="menuScroll('#contact')" class="btn-light-grey">Neem contact op</a>
        </div>
    </div>
</section>

<section id="pepflex" class="full-screen partner">
    <div class="container">
        <h2 class="section-title">Nedap Staffing Solutions / PEP Flex </h2>
        <div class="section-container">
            <p>Recht-toe-recht-aan en stabiel, dat is de koppeling die wij hebben draaien tussen het Business Network van FlexForceMonkey met Nedap Staffing Solutions. Wanneer jij dus gebruik maakt van die software en jullie willen via ons platform graag Human Resource data, Plaatsingen en Uren interfacen vanuit/naar een andere applicatie kan dat direct aan gezet worden. </p>
            <a href="https://www.nedapstaffingsolutions.nl/ " class="btn-complementary" target="_blank">Website</a>
            <a onclick="menuScroll('#contact')" class="btn-light-grey">Neem contact op</a>
        </div>
    </div>
</section>

<section id="overig" class="full-screen partner">
    <div class="container">
        <h2 class="section-title">Overige software</h2>
        <div class="section-container">
            <p>Dat zal je nu net zien, de software die jullie gebruiken staat hier niet bij uitgelicht. Dat betekent natuurlijk niet dat we de koppeling niet hebben of niet kunnen creëren. Het mooie is, dat maakt in de kosten voor jou niets uit, want de on-boarding van de techniek is ons risico. Natuurlijk kun je voor een algemeen beeld van de mogelijkheden ook kijken naar onze <a href="/use-cases" class="link-sec">use-cases pagina.</a> </p>
            <a href="/use-cases" class="btn-complementary">Use cases</a>
            <a onclick="menuScroll('#contact')" class="btn-light-grey">Neem contact op</a>
        </div>
    </div>
</section>

{{> contact}}