{{> base-nav}}

<section id="sap" class="with-base-nav full-screen partner">
    <div class="container">
        <h2 class="section-title">SAP</h2>
        <div class="section-container">
            <a href="https://www.sap.com/" target="_blank">Website</a>
        </div>
    </div>
</section>

<section id="easyflex" class="full-screen partner">
    <div class="container">
        <h2 class="section-title">Easyflex</h2>
        <div class="section-container">
            <a href="https://www.easyflex.nl/" target="_blank">Website</a>
        </div>
    </div>
</section>

<section id="flexservice" class="full-screen partner">
    <div class="container">
        <h2 class="section-title">FlexService</h2>
        <div class="section-container">
            <a href="https://www.flexservice.com/" target="_blank">Website</a>
        </div>
    </div>
</section>

<section id="pepflex" class="full-screen partner">
    <div class="container">
        <h2 class="section-title">PEP Flex</h2>
        <div class="section-container">
            <a href="https://www.nedapstaffingsolutions.nl/onze-producten/pep-flex/" target="_blank">Website</a>
        </div>
    </div>
</section>

<section id="pivoton" class="full-screen partner">
    <div class="container">
        <h2 class="section-title">Pivoton</h2>
        <div class="section-container">
            <a href="https://www.pivoton.nl/" target="_blank">Website</a>
        </div>
    </div>
</section>

<section id="carerix" class="full-screen partner">
    <div class="container">
        <h2 class="section-title">Carerix</h2>
        <div class="section-container">
            <a href="https://carerix.com/" target="_blank">Website</a>
        </div>
    </div>
</section>

<section id="setu" class="full-screen partner">
    <div class="container">
        <h2 class="section-title">SETU</h2>
        <div class="section-container">
            <a href="https://www.setu.nl/" target="_blank">Website</a>
        </div>
    </div>
</section>

<section id="talentpeaks" class="full-screen partner">
    <div class="container">
        <h2 class="section-title">Talent Peaks</h2>
        <div class="section-container">
            <a href="https://www.talentpeaks.com/" target="_blank">Website</a>
        </div>
    </div>
</section>