<div id="subscribe-page">
    <nav class="navbar">
        <div class="brand">
            <a href="/">FlexForceMonkey</a>
        </div>
    </nav>
    <div class="main">
        <div class="container">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Registreer</h3>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        {{#if messages.success}}
                            <p class="flash flash-success">{{ messages.success }}</p>
                        {{/if}}
                        {{#if messages.error}}
                            <p class="flash flash-error">{{ messages.error }}</p>
                        {{/if}}
                    </div>
                    <form class="subscribeform" method="POST" action="selfservice-subscribe" novalidate>
                        <div class="form-column left">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="companyname">Bedrijfsnaam</label>
                                <input type="text" name="companyname" id="companyname" placeholder="Bedrijfsnaam">
                            </div>
                            <div class="form-group">
                                <label for="firstname">Voornaam</label>
                                <input type="text" name="firstname" id="firstname" placeholder="Voornaam">
                            </div>
                            <div class="form-group">
                                <label for="lastname">Achternaam</label>
                                <input type="text" name="lastname" id="lastname" placeholder="Achternaam">
                            </div>
                            <div class="form-group checkboxes">
                                <input type="checkbox" name="emailnewsletters" id="emailnewsletters">
                                <label for="emailnewsletters">Email adres mag gebruikt worden voor nieuwsbrieven</label>
                                <input type="checkbox" name="emailproductupdates" id="emailproductupdates">
                                <label for="emailproductupdates">Email adres mag gebruikt worden voor product updates</label>
                                <input type="checkbox" name="emailcomcontact" id="emailcomcontact">
                                <label for="emailcomcontact">Email adres mag gebruikt worden voor gericht individueel commercieel contact</label>
                            </div>
                        </div>
                        <div class="form-column right">
                            <h5>Jouw abonnement</h5>
                            <button class="btn-primary">Vergelijk</button>
                            <div class="form-group">
                                <select name="sub" id="sub">
                                    {{#iff sub '==' 'intbuy'}}
                                        <option value="IntegrationEngineBuyer" selected>Integration engine (voor buyers)</option>
                                        <option value="IntegrationEngineSeller">Integration engine (voor sellers)</option>
                                        <option value="CaoEngineBuyer">Cao engine (voor buyers)</option>
                                        <option value="CaoEngineSeller">Cao engine (voor sellers)</option>
                                        <option value="CombinationIntegrationAndCaoSeller">Integratie in combinatie met cao engine (voor sellers)</option>
                                        <option value="StandardCustomer">Standaard (voor afnemers)</option>
                                    {{/iff}}
                                    {{#iff sub '==' 'intsel'}}
                                        <option value="IntegrationEngineBuyer">Integration engine (voor buyers)</option>
                                        <option value="IntegrationEngineSeller" selected>Integration engine (voor sellers)</option>
                                        <option value="CaoEngineBuyer">Cao engine (voor buyers)</option>
                                        <option value="CaoEngineSeller">>Cao engine (voor sellers)</option>
                                        <option value="CombinationIntegrationAndCaoSeller">Integratie in combinatie met cao engine (voor sellers)</option>
                                        <option value="StandardCustomer">Standaard (voor afnemers)</option>
                                    {{/iff}}
                                    {{#iff sub '==' 'clabuy'}}
                                        <option value="IntegrationEngineBuyer">Integration engine (voor buyers)</option>
                                        <option value="IntegrationEngineSeller">Integration engine (voor sellers)</option>
                                        <option value="CaoEngineBuyer" selected>Cao engine (voor buyers)</option>
                                        <option value="CaoEngineSeller">>Cao engine (voor sellers)</option>
                                        <option value="CombinationIntegrationAndCaoSeller">Integratie in combinatie met cao engine (voor sellers)</option>
                                        <option value="StandardCustomer">Standaard (voor afnemers)</option>
                                    {{/iff}}
                                    {{#iff sub '==' 'clasel'}}
                                        <option value="IntegrationEngineBuyer">Integration engine (voor buyers)</option>
                                        <option value="IntegrationEngineSeller">Integration engine (voor sellers)</option>
                                        <option value="CaoEngineBuyer">Cao engine (voor buyers)</option>
                                        <option value="CaoEngineSeller" selected>>Cao engine (voor sellers)</option>
                                        <option value="CombinationIntegrationAndCaoSeller">Integratie in combinatie met cao engine (voor sellers)</option>
                                        <option value="StandardCustomer">Standaard (voor afnemers)</option>
                                    {{/iff}} 
                                    {{#iff sub '==' 'selclaint'}}
                                        <option value="IntegrationEngineBuyer">Integration engine (voor buyers)</option>
                                        <option value="IntegrationEngineSeller">Integration engine (voor sellers)</option>
                                        <option value="CaoEngineBuyer">Cao engine (voor buyers)</option>
                                        <option value="CaoEngineSeller">>Cao engine (voor sellers)</option>
                                        <option value="CombinationIntegrationAndCaoSeller" selected>Integratie in combinatie met cao engine (voor sellers)</option>
                                        <option value="StandardCustomer">Standaard (voor afnemers)</option>
                                    {{/iff}}
                                </select>
                            </div>
                            <div class="form-group checkboxes">
                                <input type="checkbox" name="termsconditions" id="termsconditions" required>
                                <label for="termsconditions">Ik accepteer de <a target="_blank" href="/termsandconditions">Algemene voorwaarden</a></label>
                                <input type="checkbox" name="avg" id="avg" required>
                                <label for="avg">Ik accepteer de <a href="/gdpr">Bepalingen AVG</a></label>
                            </div>
                            <div class="g-recaptcha" data-sitekey="6LdguR0UAAAAANniwp3vHxcsRnwW3lOu0rz91iwP"></div>
                            <input class="btn-secondary" type="submit" value="Registreer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="text left-text">
            <p>&copy; FlexForceMonkey - {{ year }}</p>
        </div>
        <div class="text right-text">
            <p>Hulp nodig? Neem <a href="https://app.flexforcemonkey.com/support">contact</a> op met onze supportdesk</p>
        </div>
    </footer>
</div>