{{> base-nav-en}}

<section id="hero" class="supplier">
    <div class="hero-title">
        <h1>Stop now with separate spreadsheets and macro's to calculate all incoming hours back to the CLA. Convert your hourflow into a smooth operation where you can rely on one checked source.</h1>
    </div>
    <div class="iframe">
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/UUSmUoriNkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="supplier-intro" class="full-screen">
    <div class="container">
        <h2 class="section-title">If you deliver flex workers</h2>
        <div class="section-container">
            <p class="sub-title">You maybe recognize it, you have an administrator who does nothing more than convert Excel sheets to the CLA of your customer?</p>
            <img class="scrollleft" src="./public/images/computeraap.png" alt="Computer Monkey">
            <div class="section-text scrollright">
                <p>We see high costs at many employment agencies because timesheets are coming in all types of formats and then have to be calculated in offline operations. Costs, risk of illness of that one manager who "knew the situation", delays in the process, and so on. We want to help you get rid of that.</p>
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">Get in touch</button>
            </div>
        </div>
    </div>
</section>

{{!-- <div class="banner banner-ebook">
    <div class="banner-container">
        <h2 class="banner-title">Het Purchase to Pay proces van opdrachtgevers...</h2>
        <p>...door de ogen van een uitzender. Klinkt interessant? Lees er alles over in ons ebook!</p>
        <a href="/ebook" class="btn-complementary-xl">Download het ebook nu</a>
    </div>
</div> --}}

<section id="supplier-kit" class="full-screen">
    <div class="container">
        <h2 class="section-title">Online in the blink of an eye: Standard plugs make the difference</h2>
        <div class="section-container">
            <img class="scrollleft" src="./public/images/stekkerdoos.png" alt="The FlexForceMonkey connectionbox">
            <div class="section-text scrollright">
                <p>Corporate integration software made as easy as taking out an internet subscription? Yep, born in the cloud, thinking naturally in terms of collaboration, that requires quick solutions. And that is what you get.</p>
            </div>
            <div class="text-center">
                <a class="btn-complementary-xl text-center" onclick="menuScroll('#contact')">Get in touch</a>
            </div>
        </div>
    </div>
</section>

{{!-- <div class="banner banner-usecases">
    <div class="banner-container">
        <h1 class="banner-title">Snel zien hoe je FlexForceMonkey kunt toepassen?</h1>
        <a href="/use-cases#intermediair" class="btn-complementary-xl">Bekijk onze pagina met use cases</a>
    </div>
</div> --}}

<section id="supplier-options" class="full-screen">
    <div class="container">
        <h2 class="section-title">Corporate or SME employment agency?</h2>
        <div class="section-container">
            <p class="sub-title">FlexForceMonkey believes in an online market and therefore makes collaboration possible for everyone.</p>
            <div class="section-text scrollleft">
                <p>The FlexForceMonkey platform connects effortlessly to your processes via SETU messages, but you can also choose to manually get timesheets and CLA-calculations via CSV-files for example. In all cases, we ensure that the CLA is set up and you test it together with the customer to make sure that you share the insights. Easy online collaboration.</p>
            </div>
            <img class="scrollright" src="./public/images/puzzel-aap.png" alt="Puzzle Monkey">
            <div class="buttons">
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">Get in touch</button>
            </div>
        </div>
    </div>
</section>

{{> pricemodel-connectivity }}

{{> contact}}