{{> base-nav-en}}

<section id="hero" class="supplier">
    <div class="hero-title">
        <h1>Are you invited to take part in our human-centric supply chain?<br/>Join the collaborative flex experience!</h1>
    </div>
    <div class="iframe">
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/UUSmUoriNkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="supplier-intro" class="full-screen">
    <div class="container">
        <h2 class="section-title">Are you a supplier of flex work(ers)? Let us help you to simplify your customer relation.</h2>
        <div class="section-container">
            <p class="sub-title">Meet the Business Network in Flex</p>
            <img class="scrollleft" src="./public/images/computeraap.png" alt="Computer Monkey">
            <div class="section-text scrollright">
                <p>Many agencies and other forms of contingent labor supply struggle with the complex processes and administrative procedures of their customers. We are here to help make your live easier and save time to focus on the human factor again. Simply share contracts, worker data, timesheets and invoices easily online. One standardized process for all your clients and finally a way of working where the data privacy of your workers is fully guaranteed.</p>
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">Get in touch</button>
            </div>
        </div>
    </div>
</section>

<section id="supplier-kit" class="full-screen">
    <div class="container">
        <h2 class="section-title">Even better than working simple and safely online: connect your systems and work even faster. </h2>
        <div class="section-container">
            <img class="scrollleft" src="./public/images/stekkerdoos.png" alt="The FlexForceMonkey connectionbox">
            <div class="section-text scrollright">
                <p>Getting collaboration going in the contingent labor supply chain has never been this easy, choose which steps of the data flow should be done manually in the portal, and which you want to integrate via one of our API’s:</p>
                <ol>
                    <li>Flex worker data</li>
                    <li>Assignment data</li>
                    <li>Timesheets</li>
                    <li>Invoices</li>
                </ol>
            </div>
            <div class="text-center">
                <a class="btn-complementary-xl text-center" onclick="menuScroll('#contact')">Get in touch</a>
            </div>
        </div>
    </div>
</section>

<section id="supplier-options" class="full-screen">
    <div class="container">
        <h2 class="section-title">Are you not invited yet? Let’s build the worlds’ most human-centric supply chain!</h2>
        <div class="section-container">
            <p class="sub-title">Join the collaborative flex experience</p>
            <div class="section-text scrollleft">
                <p>FlexForceMonkey helps buyers and suppliers in taking their roles in the contingent labor supply chain seriously. Privacy by design, lowered entry barriers and transparency by default are examples that make you grow with your network instead of because of it.</p>
                <p>Even when you are not invited yet to join by one of your customers, we want to offer you the chance to take part. Soon, on this webpage, the option will occur to pre-subscribe your organization to our network without invitation so you are able to start onboarding your customers. Send us a contact message so we will keep you informed on this progress.</p>
            </div>
            <img class="scrollright" src="./public/images/puzzel-aap.png" alt="Puzzle Monkey">
            <div class="buttons">
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">Get in touch</button>
            </div>
        </div>
    </div>
</section>

{{> pricemodel-invited-en }}

{{> contact-en }}