{{> base-nav}}

<section id="hero" class="supplier">
    <div class="hero-title">
        <h1>Stop nu met losse spreadsheets en macro’s om alle binnenkomende uren terug te rekenen naar de CAO. Bouw je urenstroom om naar een soepele operatie waarbij je kunt vertrouwen op één gecheckte bron.</h1>
    </div>
    <div class="iframe">
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/UUSmUoriNkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="supplier-intro" class="full-screen">
    <div class="container">
        <h2 class="section-title">Als je flexkrachten uitzendt</h2>
        <div class="section-container">
            <p class="sub-title">Je herkent het vast, een beheerder in dienst die niets anders doet dan Excel sheets omrekenen naar de klant CAO?</p>
            <img class="scrollleft" src="./public/images/computeraap.png" alt="Computer Monkey">
            <div class="section-text scrollright">
                <p>Wij zien bij veel uitzendbureaus hoge kosten doordat uren op allerlei formaten binnenkomen en vervolgens in off-line handelingen moeten worden doorgerekend. Kosten, risico bij ziekte van die ene beheerder die “wist hoe het zat”, vertragingen in het proces, enzovoorts. Wij willen je helpen om daar nu vanaf te stappen.</p>
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">Neem nu contact op</button>
            </div>
        </div>
    </div>
</section>

<div class="banner banner-ebook">
    <div class="banner-container">
        <h2 class="banner-title">Het Purchase to Pay proces van opdrachtgevers...</h2>
        <p>...door de ogen van een uitzender. Klinkt interessant? Lees er alles over in ons ebook!</p>
        <a href="/ebook" class="btn-complementary-xl">Download het ebook nu</a>
    </div>
</div>

<section id="supplier-kit" class="full-screen">
    <div class="container">
        <h2 class="section-title">Online in een oogwenk: Standaard stekkers maken het verschil</h2>
        <div class="section-container">
            <img class="scrollleft" src="./public/images/stekkerdoos.png" alt="De FlexForceMonkey Aansluitbox">
            <div class="section-text scrollright">
                <p>Corporate integratiesoftware net zo eenvoudig gemaakt als het afsluiten van een internet abonnement? Yep, geboren in de cloud, van nature denkend in samenwerken, dat vraagt om snelle oplossingen. En die krijg je dan dus ook.</p>
            </div>
            <div class="text-center">
                <a class="btn-complementary-xl text-center" onclick="menuScroll('#contact')">Neem nu contact op voor je eerste klant integratie</a>
            </div>
        </div>
    </div>
</section>

<div class="banner banner-usecases">
    <div class="banner-container">
        <h1 class="banner-title">Snel zien hoe je FlexForceMonkey kunt toepassen?</h1>
        <a href="/use-cases#intermediair" class="btn-complementary-xl">Bekijk onze pagina met use cases</a>
    </div>
</div>

<section id="supplier-options" class="full-screen">
    <div class="container">
        <h2 class="section-title">Corporate of MKB uitzendbureau?</h2>
        <div class="section-container">
            <p class="sub-title">FlexForceMonkey gelooft in een online markt en maakt samenwerken dus voor iedereen mogelijk.</p>
            <div class="section-text scrollleft">
                <p>Het FlexForceMonkey platform sluit moeiteloos aan op jouw processen via SETU berichten, maar je kunt er ook voor kiezen om de timesheets en CAO-berekening handmatig te werken vanuit bijvoorbeeld CSV bestanden. In alle gevallen zorgen wij ervoor dat de CAO staat ingericht en die test je samen met klant om zeker te weten dat je de inzichten deelt. Eenvoudig online samenwerken dus.</p>
            </div>
            <img class="scrollright" src="./public/images/puzzel-aap.png" alt="Puzzle Monkey">
            <div class="buttons">
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">Neem nu contact op</button>
                <a class="btn-light-grey-xl" target="_blank" href="https://app.flexforcemonkey.com/subscriptions">Registreer je gratis en betaal enkel voor gebruik</a>
            </div>
            <div class="text-center">
                <p>PS: wist je trouwens dat werken op onze portal met het basis abonnement gewoon gratis is?!</p>
            </div>
        </div>
    </div>
</section>

{{> pricemodel-connectivity }}

{{> blogs}}

{{> contact}}