<section id="intro-home-temp" class="full-screen">
    <div class="part-left part">
        <div class="animation-container">
            <img src="../public/images/slingeraap-links.png" alt="Slinger aap animatie">
        </div>
        <div class="text-container">
            <h2>Flexjungle</h2>
            <p>Hier leren afnemers en aabieders in flex samenwerken. Lekker browsen door content voor uitzenders en inkopers.</p>
            <button href="http://flexjungle.flexforcemonkey.com/" target="_blank" class="btn-complementary-xl">Ga naar Flexjungle <span class="fa fa-external-link-alt"></span></button>
        </div>
    </div>
    <div href="#ffm" class="part-right part">
        <div class="animation-container">
            <img src="../public/images/slingeraap.png" alt="Slinger aap animatie">
        </div>
        <div class="text-container">
            <h2>Software as a service</h2>
            <p>Software voor systeemintegratie, cao-ontrafeling, opdrachten, uren en facturen in flex.</p>
            <button onclick="menuScroll('#ffm-home')" class="btn-complementary-xl">Ga naar software</button>
        </div>
    </div>
    <div class="hero-title">
        <h1>
            <span class="logo">FlexForceMonkey</span><br />
            <span class="sublogo">Business network for Flex</span><br/>
            {{ translation.home.HERO_TEXT }}
        </h1>
    </div>
</section>

<section id="ffm-home" class="full-screen">
    <div class="container">
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/UUSmUoriNkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="section-container">
            <a href="app.flexforcemonkey.com/login" class="login btn btn-dark-grey-xl">Inloggen op ons platform</a>
            <p>Of wil je meer informatie over de diensten die we daar aanbieden?</p>
            <div class="btn-row">
                <a href="/hirer" class="btn-complementary">{{ translation.choice.INTEGRATION }}</a>
                <a href="/supplier" class="btn-complementary">{{ translation.choice.CLAENGINE }}</a>
                <a href="/freelancer" class="btn-complementary">{{ translation.choice.FREELANCER }}</a>
            </div>
        </div>
    </div>
</section>