{{> base-nav }}

<section id="tab-section">
    <div class="container">
        <div class="tabs">
            <a class="tab tab-1" href="./generalconsiderations">
                {{ translation.general.GENCONS }}
            </a>
            <a class="tab tab-2" href="./termsandconditions">
                {{ translation.general.TERMSCON }}
            </a>
            <a class="tab tab-3" href="./gdpr">
                {{ translation.general.GDPR }}
            </a>
        </div>
    </div>
</section>

<section id="termsandconditions">
    {{> (lookup . 'partial') }}
</section>