{{> base-nav }}

<section id="tab-section">
    <div class="container">
        <div class="tabs">
            <a class="tab tab-1" href="./generalconsiderations">
                Algemene opmerkingen
            </a>
            <a class="tab tab-2" href="./termsandconditions">
               Algemene voorwaarden
            </a>
            <a class="tab tab-3" href="./gdpr">
                Bepalingen AVG
            </a>
        </div>
    </div>
</section>

<section id="termsandconditions">
    {{> (lookup . 'partial') }}
</section>