{{> base-nav}}

{{> construction}}

{{!-- <section id="usecase-general" class="full-screen usecase-section">
    <div class="container">
        <h2 class="section-title">Algemene use cases</h2>
        <p class="sub-title">Introtekst over de algemene use cases</p>
        <div class="keywords">
            <ul>
                <li><a onclick="openKeyword('keyword1')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
            </ul>
        </div>
    </div>
    <img src="../public/images/aapscheef.png" class="monkey-looking">
</section>

<section id="usecase-opdrachtgever" class="full-screen usecase-section">
    <div class="container">
        <h2 class="section-title">Use cases opdrachtgever</h2>
        <p class="sub-title">Introtekst over de use cases</p>
        <div class="keywords">
            <ul>
                <li><a onclick="openKeyword('keyword1')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
            </ul>
        </div>
    </div>
</section>

<section id="usecase-opdrachtnemer" class="full-screen usecase-section">
    <div class="container">
        <h2 class="section-title">Use cases opdrachtnemer</h2>
        <p class="sub-title">Introtekst over de use cases</p>
        <div class="keywords">
            <ul>
                <li><a onclick="openKeyword('keyword1')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
            </ul>
        </div>
    </div>
</section>

<section id="usecase-onlinesoftware" class="full-screen usecase-section">
    <div class="container">
        <h2 class="section-title">Use cases online software</h2>
        <p class="sub-title">Introtekst over de use cases</p>
        <div class="keywords">
            <ul>
                <li><a onclick="openKeyword('keyword1')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
            </ul>
        </div>
    </div>
</section>

<div class="modal" id="keyword-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title"></h3>
            <span class="close" onclick="closeModal('#keyword-modal')">&times;</span>
        </div>
        <div class="modal-body">
            <p></p>
        </div>
        <div class="modal-footer">
            <button class="btn-secondary" onclick="closeModal('#keyword-modal')">Sluiten</button>
        </div>
    </div>
</div> --}}