{{> base-nav}}

{{!-- {{> construction}} --}}

{{!-- <section id="usecase-general" class="full-screen usecase-section">
    <div class="container">
        <h2 class="section-title">Algemene use cases</h2>
        <p class="sub-title">Introtekst over de algemene use cases</p>
        <div class="keywords">
            <ul>
                <li><a onclick="openKeyword('keyword1')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
                <li><a onclick="openKeyword('word')">Keyword</a></li>
            </ul>
        </div>
    </div>
    <img src="../public/images/aapscheef.png" class="monkey-looking">
</section> --}}

<section id="usecase-inlener" class="full-screen usecase-section">
    <div class="container">
        <h2 class="section-title">Use cases inlener</h2>
        <p class="sub-title">Het zaadje is gepland, nu moet het plantje even groeien. We gaan dus nog even door met het uitwerken van onderstaande use cases. Schrijf je in op onze nieuwsbrief om op de hoogte te blijven!</p>
        <div class="text-center">
            <a href="https://flexjungle.flexforcemonkey.com/welcome-to-the-jungle/" class="btn-complementary-xl" target="_blank">Inschrijven nieuwsbrief</a>
        </div>
        <div class="keywords">
            <ul>
                <li><a onclick="openModal('#construction-modal')">Inhuren met Purchase to Pay proces</a></li>
                <li><a class="active" href="https://flexjungle.flexforcemonkey.com/use-case-een-leveranciersportaal-voor-inhuur/" target="_blank">Leveranciersportal voor al je inhuursystemen</a></li>
                <li><a onclick="openModal('#construction-modal')">Leveranciers-koppelvlak bij VMS-systeem</a></li>
                <li><a onclick="openModal('#construction-modal')">HR- en Finance systeem koppelen voor inhuur</a></li>
                <li><a onclick="openModal('#construction-modal')">Self-billing toepassen op grote schaal</a></li>
            </ul>
        </div>
    </div>
</section>

<section id="usecase-intermediair" class="full-screen usecase-section">
    <div class="container">
        <h2 class="section-title">Use cases uitzender/intermediair</h2>
        <p class="sub-title">Alle integratie zit al in de cloud, nu zijn we hard bezig met het uitschrijven van onderstaande use cases. Schrijf je in op onze nieuwsbrief om op de hoogte te blijven!</p>
        <div class="text-center">
            <a href="https://flexjungle.flexforcemonkey.com/welcome-to-the-jungle/" class="btn-dark-grey-xl" target="_blank">Inschrijven nieuwsbrief</a>
        </div>
        <div class="keywords">
            <ul>
                <li><a onclick="openModal('#construction-modal')">Klantkoppeling met Inkoop-/Purchase to Pay systeem</a></li>
                <li><a onclick="openModal('#construction-modal')">Klantkoppeling met HR-systeem</a></li>
                <li><a onclick="openModal('#construction-modal')">Klantkoppeling met VMS-systeem</a></li>
                <li><a onclick="openModal('#construction-modal')">Klantportal bij al je uitzendsystemen</a></li>
                <li><a onclick="openModal('#construction-modal')">Opdrachtgevers die Self-billing toepassen</a></li>
                <li><a class="active" href="https://flexjungle.flexforcemonkey.com/use-case-cao-ontrafeling/" target="_blank">Uren ontrafelen volgens CAO</a></li>
                <li><a onclick="openModal('#construction-modal')">Uren importeren vanuit diverse CSV-bestanden</a></li>
            </ul>
        </div>
    </div>
</section>

<section id="usecase-onlinesoftware" class="full-screen usecase-section">
    <div class="container">
        <h2 class="section-title">Use cases online software</h2>
        <p class="sub-title">We zijn bezig met het uittekenen van onderstaande use cases. Schrijf je in op onze nieuwsbrief om op de hoogte te blijven of maak meteen een gratis account aan!</p>
        <div class="text-center">
            <a href="https://flexjungle.flexforcemonkey.com/welcome-to-the-jungle/" class="btn-complementary-xl" target="_blank">Inschrijven nieuwsbrief</a>
            <a href="https://app.flexforcemonkey.com/subscriptions" target="_blank" class="btn-light-grey-xl">Registreer</a>
        </div>
        <div class="keywords">
            <ul>
                <li><a onclick="openModal('#construction-modal')">Via mobiele app uren registreren</a></li>
                <li><a onclick="openModal('#construction-modal')">Interne en externe projecten administreren</a></li>
                <li><a onclick="openModal('#construction-modal')">Opdrachtgever onderdeel maken van je werkproces</a></li>
            </ul>
        </div>
    </div>
</section>

<div class="modal" id="keyword-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title"></h3>
            <span class="close" onclick="closeModal('#keyword-modal')">&times;</span>
        </div>
        <div class="modal-body">
            <p></p>
        </div>
        <div class="modal-footer">
            <button class="btn-secondary" onclick="closeModal('#keyword-modal')">Sluiten</button>
        </div>
    </div>
</div>

<div class="modal" id="construction-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Wij zijn deze case nog aan het uitwerken!</h3>
            <span class="close" onclick="closeModal('#construction-modal')">&times;</span>
        </div>
        <div class="modal-body">
            <img src="./public/images/construction-aap.svg">
            <div class="text">
                <p>Kom nog eens terug om meer te lezen over de volgende onderwerpen. Of blijf op de hoogte door je in te schrijven op onze nieuwsbrief!</p>
                <div class="text-center">
                    <a href="https://flexjungle.flexforcemonkey.com/welcome-to-the-jungle/" class="btn-complementary-xl" target="_blank">Inschrijven nieuwsbrief</a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-secondary" onclick="closeModal('#construction-modal')">Sluiten</button>
        </div>
    </div>
</div>