@font-face {
  font-family: 'ZwoOT';
  src: url("../fonts/ZwoOT-Light.eot");
  src: url("../fonts/ZwoOT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ZwoOT-Light.woff") format("woff"), url("../fonts/ZwoOT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ZwoOT-Xbold';
  src: url("../fonts/ZwoOT-Xbold.eot");
  src: url("../fonts/ZwoOT-Xbold.eot?#iefix") format("embedded-opentype"), url("../fonts/ZwoOT-Xbold.woff") format("woff"), url("../fonts/ZwoOT-Xbold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: 'ZwoOT-SemiBd';
  src: url("../fonts/ZwoOT-SemiBd.eot");
  src: url("../fonts/ZwoOT-SemiBd.eot?#iefix") format("embedded-opentype"), url("../fonts/ZwoOT-SemiBd.woff") format("woff"), url("../fonts/ZwoOT-SemiBd.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* line 1, ../sass/_partials/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/_partials/_base.scss */
body, html {
  height: 100%;
}

/* line 9, ../sass/_partials/_base.scss */
body {
  font-family: "ZwoOT", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #2B2B2B;
}

/* line 15, ../sass/_partials/_base.scss */
img {
  max-width: 100%;
}

/* line 19, ../sass/_partials/_base.scss */
strong {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
}

/* line 23, ../sass/_partials/_base.scss */
.container {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  /* line 23, ../sass/_partials/_base.scss */
  .container {
    width: 60%;
  }
}
@media (max-width: 1100px) {
  /* line 23, ../sass/_partials/_base.scss */
  .container {
    width: 65%;
  }
}
@media (max-width: 900px) {
  /* line 23, ../sass/_partials/_base.scss */
  .container {
    width: 70%;
  }
}
@media (max-width: 768px) {
  /* line 23, ../sass/_partials/_base.scss */
  .container {
    width: 85%;
  }
}

/* line 40, ../sass/_partials/_base.scss */
h1 {
  font-family: "ZwoOT-Xbold", Helvetica, Arial, sans-serif;
  font-size: 3rem;
}

/* line 44, ../sass/_partials/_base.scss */
h2 {
  font-family: "ZwoOT-Xbold", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
}

/* line 48, ../sass/_partials/_base.scss */
h3 {
  font-family: "ZwoOT-Xbold", Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

/* line 52, ../sass/_partials/_base.scss */
h4 {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

/* line 56, ../sass/_partials/_base.scss */
h5 {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
}

/* line 60, ../sass/_partials/_base.scss */
h6 {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

/* line 65, ../sass/_partials/_base.scss */
a, a:visited {
  color: #3CBFED;
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
}

/* line 70, ../sass/_partials/_base.scss */
a:hover, a:focus, a:active {
  color: #13A5D8;
}

/* line 74, ../sass/_partials/_base.scss */
label {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
}

/* line 78, ../sass/_partials/_base.scss */
input, textarea {
  padding: 6px;
  border: 1px solid #ECECEC;
  width: 100%;
  margin: 6px 0 8px 0;
}

/* line 85, ../sass/_partials/_base.scss */
.btn-primary, .btn-primary-xl,
.btn-primary:visited,
.btn-primary-xl:visited, .btn-secondary, .btn-secondary-xl,
.btn-secondary:visited,
.btn-secondary-xl:visited, .btn-dark-grey, .btn-dark-grey-xl,
.btn-dark-grey:visited,
.btn-dark-grey-xl:visited, .btn-light-grey, .btn-light-grey-xl,
.btn-light-grey:visited,
.btn-light-grey-xl:visited {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  text-align: center;
  -moz-white-space: nowrap;
  -o-white-space: nowrap;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  text-decoration: none;
}

/* line 105, ../sass/_partials/_base.scss */
.btn-primary, .btn-primary-xl,
.btn-primary:visited,
.btn-primary-xl:visited {
  background-color: #3CBFED;
  border: 1px solid #3CBFED;
  color: white;
}
/* line 111, ../sass/_partials/_base.scss */
.btn-primary:hover, .btn-primary-xl:hover, .btn-primary:focus, .btn-primary-xl:focus, .btn-primary:active, .btn-primary-xl:active,
.btn-primary:visited:hover,
.btn-primary-xl:visited:hover,
.btn-primary:visited:focus,
.btn-primary-xl:visited:focus,
.btn-primary:visited:active,
.btn-primary-xl:visited:active {
  background-color: #13A5D8;
}
/* line 116, ../sass/_partials/_base.scss */
.btn-primary:disabled, .btn-primary-xl:disabled, .btn-primary[disabled], [disabled].btn-primary-xl,
.btn-primary:visited:disabled,
.btn-primary-xl:visited:disabled,
.btn-primary:visited[disabled],
.btn-primary-xl:visited[disabled] {
  cursor: not-allowed;
  background-color: rgba(60, 191, 237, 0.6);
}

/* line 123, ../sass/_partials/_base.scss */
.btn-primary-xl {
  padding: 15px 20px;
  font-size: 1.4rem;
}

/* line 129, ../sass/_partials/_base.scss */
.btn-secondary, .btn-secondary-xl,
.btn-secondary:visited,
.btn-secondary-xl:visited {
  background-color: #0482B3;
  border: 1px solid #0482B3;
  color: white;
}
/* line 135, ../sass/_partials/_base.scss */
.btn-secondary:hover, .btn-secondary-xl:hover, .btn-secondary:focus, .btn-secondary-xl:focus, .btn-secondary:active, .btn-secondary-xl:active,
.btn-secondary:visited:hover,
.btn-secondary-xl:visited:hover,
.btn-secondary:visited:focus,
.btn-secondary-xl:visited:focus,
.btn-secondary:visited:active,
.btn-secondary-xl:visited:active {
  background-color: #0F718E;
}
/* line 140, ../sass/_partials/_base.scss */
.btn-secondary:disabled, .btn-secondary-xl:disabled, .btn-secondary[disabled], [disabled].btn-secondary-xl,
.btn-secondary:visited:disabled,
.btn-secondary-xl:visited:disabled,
.btn-secondary:visited[disabled],
.btn-secondary-xl:visited[disabled] {
  cursor: not-allowed;
  background-color: rgba(4, 130, 179, 0.6);
}

/* line 147, ../sass/_partials/_base.scss */
.btn-secondary-xl {
  padding: 15px 20px;
  font-size: 1.4rem;
}

/* line 153, ../sass/_partials/_base.scss */
.btn-dark-grey, .btn-dark-grey-xl,
.btn-dark-grey:visited,
.btn-dark-grey-xl:visited {
  background-color: #2B2B2B;
  border: 1px solid #2B2B2B;
  color: white;
}
/* line 159, ../sass/_partials/_base.scss */
.btn-dark-grey:hover, .btn-dark-grey-xl:hover, .btn-dark-grey:focus, .btn-dark-grey-xl:focus, .btn-dark-grey:active, .btn-dark-grey-xl:active,
.btn-dark-grey:visited:hover,
.btn-dark-grey-xl:visited:hover,
.btn-dark-grey:visited:focus,
.btn-dark-grey-xl:visited:focus,
.btn-dark-grey:visited:active,
.btn-dark-grey-xl:visited:active {
  background-color: #515151;
}
/* line 164, ../sass/_partials/_base.scss */
.btn-dark-grey:disabled, .btn-dark-grey-xl:disabled, .btn-dark-grey[disabled], [disabled].btn-dark-grey-xl,
.btn-dark-grey:visited:disabled,
.btn-dark-grey-xl:visited:disabled,
.btn-dark-grey:visited[disabled],
.btn-dark-grey-xl:visited[disabled] {
  cursor: not-allowed;
  background-color: rgba(43, 43, 43, 0.6);
}

/* line 171, ../sass/_partials/_base.scss */
.btn-dark-grey-xl {
  padding: 15px 20px;
  font-size: 1.4rem;
}

/* line 177, ../sass/_partials/_base.scss */
.btn-light-grey, .btn-light-grey-xl,
.btn-light-grey:visited,
.btn-light-grey-xl:visited {
  background-color: #ECECEC;
  border: 1px solid #ECECEC;
  color: #2B2B2B;
}
/* line 183, ../sass/_partials/_base.scss */
.btn-light-grey:hover, .btn-light-grey-xl:hover, .btn-light-grey:focus, .btn-light-grey-xl:focus, .btn-light-grey:active, .btn-light-grey-xl:active,
.btn-light-grey:visited:hover,
.btn-light-grey-xl:visited:hover,
.btn-light-grey:visited:focus,
.btn-light-grey-xl:visited:focus,
.btn-light-grey:visited:active,
.btn-light-grey-xl:visited:active {
  background-color: #c6c6c6;
  color: #2B2B2B;
}
/* line 189, ../sass/_partials/_base.scss */
.btn-light-grey:disabled, .btn-light-grey-xl:disabled, .btn-light-grey[disabled], [disabled].btn-light-grey-xl,
.btn-light-grey:visited:disabled,
.btn-light-grey-xl:visited:disabled,
.btn-light-grey:visited[disabled],
.btn-light-grey-xl:visited[disabled] {
  cursor: not-allowed;
  background-color: rgba(236, 236, 236, 0.6);
}

/* line 196, ../sass/_partials/_base.scss */
.btn-light-grey-xl {
  padding: 15px 20px;
  font-size: 1.4rem;
}

/* line 202, ../sass/_partials/_base.scss */
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}
/* line 207, ../sass/_partials/_base.scss */
.row .column {
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  max-width: 100%;
  padding: 15px;
}

/* line 214, ../sass/_partials/_base.scss */
.text-center {
  text-align: center;
}

/* line 218, ../sass/_partials/_base.scss */
.entire-width {
  width: 100%;
}

/* line 1, ../sass/_partials/_table.scss */
.table {
  width: 100%;
}
/* line 3, ../sass/_partials/_table.scss */
.table thead {
  background: #ECECEC;
  color: #2B2B2B;
  text-align: left;
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
}
/* line 8, ../sass/_partials/_table.scss */
.table thead th {
  padding: 10px 5px;
}
/* line 13, ../sass/_partials/_table.scss */
.table tbody tr:nth-child(even) {
  background: #f9f9f9;
}
/* line 16, ../sass/_partials/_table.scss */
.table tbody tr:nth-child(odd) {
  background: white;
}
/* line 19, ../sass/_partials/_table.scss */
.table tbody td, .table tbody th {
  padding: 10px 5px;
}

/* line 26, ../sass/_partials/_table.scss */
.fixed-table-header {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
/* line 31, ../sass/_partials/_table.scss */
.fixed-table-header thead tr {
  display: block;
  position: relative;
}
/* line 36, ../sass/_partials/_table.scss */
.fixed-table-header tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 250px;
}

/* line 44, ../sass/_partials/_table.scss */
.old_ie_wrapper {
  height: 250px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 49, ../sass/_partials/_table.scss */
.old_ie_wrapper tbody {
  height: auto;
}

/* line 1, ../sass/_partials/_panel.scss */
.panel {
  background: white;
  width: 100%;
}
/* line 4, ../sass/_partials/_panel.scss */
.panel .panel-heading {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  text-align: center;
}
/* line 8, ../sass/_partials/_panel.scss */
.panel .panel-heading .panel-title {
  margin: 0;
  padding: 20px 10px;
}
/* line 13, ../sass/_partials/_panel.scss */
.panel .panel-body {
  padding: 25px;
}

/* line 1, ../sass/_partials/_navbar.scss */
#navbar {
  height: 9vh;
  background-color: #2B2B2B;
  z-index: 99;
  position: fixed;
  width: 100%;
}
/* line 8, ../sass/_partials/_navbar.scss */
#navbar .left-menu {
  width: 35%;
  padding: 2.5vh 0 8px 35px;
  height: 9vh;
  float: left;
}
@media (max-width: 768px) {
  /* line 8, ../sass/_partials/_navbar.scss */
  #navbar .left-menu {
    width: 49%;
  }
}
/* line 16, ../sass/_partials/_navbar.scss */
#navbar .left-menu .logo {
  text-decoration: none;
}
/* line 18, ../sass/_partials/_navbar.scss */
#navbar .left-menu .logo h2 {
  font-family: "Fredoka One", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 2rem;
  color: white;
}
/* line 26, ../sass/_partials/_navbar.scss */
#navbar .right-menu {
  display: inline-block;
  width: 64%;
  height: 9vh;
  padding-right: 20px;
}
@media (max-width: 768px) {
  /* line 26, ../sass/_partials/_navbar.scss */
  #navbar .right-menu {
    width: 49%;
  }
}
/* line 34, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  height: 9vh;
  font-size: 1.4rem;
}
@media (min-width: 769px) {
  /* line 34, ../sass/_partials/_navbar.scss */
  #navbar .right-menu .mobile-toggle {
    display: none;
  }
}
/* line 43, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon {
  width: 40px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
/* line 50, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #2B2B2B;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
/* line 61, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
/* line 65, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
/* line 69, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
/* line 76, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}
/* line 81, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
/* line 85, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 26px;
  left: 8px;
}
/* line 92, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items {
  height: 9vh;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  list-style-type: none;
  position: relative;
  padding-left: 0;
}
@media (max-width: 768px) {
  /* line 92, ../sass/_partials/_navbar.scss */
  #navbar .right-menu .menu-items {
    position: absolute;
    background: #2B2B2B;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: auto;
    -webkit-align-items: stretch;
    align-items: stretch;
    right: 25px;
    z-index: 99;
    padding-left: 40px;
  }
}
@media (max-width: 768px) {
  /* line 111, ../sass/_partials/_navbar.scss */
  #navbar .right-menu .menu-items .menu-item {
    padding: 12px 35px 12px 0;
  }
  /* line 114, ../sass/_partials/_navbar.scss */
  #navbar .right-menu .menu-items .menu-item:last-child {
    padding-bottom: 16px;
  }
}
/* line 118, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .menu-item a {
  color: white;
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  height: 100%;
  padding: 3vh 15px;
  text-align: center;
  cursor: pointer;
}
/* line 127, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .menu-item a:hover, #navbar .right-menu .menu-items .menu-item a:focus, #navbar .right-menu .menu-items .menu-item a:active {
  background: #515151;
  color: white;
}
@media (max-width: 850px) {
  /* line 118, ../sass/_partials/_navbar.scss */
  #navbar .right-menu .menu-items .menu-item a {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  /* line 118, ../sass/_partials/_navbar.scss */
  #navbar .right-menu .menu-items .menu-item a {
    text-align: left;
    padding: 0;
  }
}
/* line 141, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .menu-item-4 .svg-inline--fa {
  height: 0.8em;
}
/* line 145, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .dropdown {
  position: relative;
}
/* line 147, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #2B2B2B;
  min-width: 200px;
  z-index: 1;
  list-style-type: none;
  right: 0;
  padding: 0;
}
/* line 158, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .dropdown .dropdown-menu li.active a {
  background: #2B2B2B;
  color: white;
}
/* line 163, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .dropdown .dropdown-menu li a {
  font-size: 16px;
  padding: 20px 15px;
  display: inline-block;
  width: 100%;
  text-align: left;
}
/* line 174, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .lang img {
  width: 25px;
}

/* line 1, ../sass/_partials/_hero.scss */
#hero {
  height: 100vh;
  position: relative;
}
/* line 4, ../sass/_partials/_hero.scss */
#hero .hero-title {
  position: absolute;
  width: 60%;
  left: 10%;
  bottom: 10%;
  color: white;
}

/* line 13, ../sass/_partials/_hero.scss */
#hero.hirer {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/hirer.jpg") no-repeat center;
}

/* line 24, ../sass/_partials/_hero.scss */
#hero.hirer {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/hirer.jpg") no-repeat center;
}

/* line 35, ../sass/_partials/_hero.scss */
#hero.supplier {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/supplier.jpg") no-repeat center;
}

/* line 46, ../sass/_partials/_hero.scss */
#hero.interim {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/interim.jpg") no-repeat center;
}

/* line 57, ../sass/_partials/_hero.scss */
#hero.freelancer {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/freelancer.jpg") no-repeat center;
}

/* line 68, ../sass/_partials/_hero.scss */
#hero.curious {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/curious.jpg") no-repeat center;
}

/* line 1, ../sass/_partials/_home-sections.scss */
section {
  padding: 50px 0;
}
/* line 3, ../sass/_partials/_home-sections.scss */
section .section-title {
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
}

/* line 11, ../sass/_partials/_home-sections.scss */
#contact .section-container {
  width: 60%;
  margin-left: 20%;
}
@media (max-width: 1200px) {
  /* line 11, ../sass/_partials/_home-sections.scss */
  #contact .section-container {
    width: 75%;
    margin-left: 12.5%;
  }
}
@media (max-width: 991px) {
  /* line 11, ../sass/_partials/_home-sections.scss */
  #contact .section-container {
    width: 100%;
    margin-left: 0;
  }
}

/* line 1, ../sass/_partials/_newsletter.scss */
#newsletter {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 35%;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  display: none;
}
/* line 8, ../sass/_partials/_newsletter.scss */
#newsletter .close {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 24px;
  color: white;
}
/* line 14, ../sass/_partials/_newsletter.scss */
#newsletter .close span {
  cursor: pointer;
}
/* line 18, ../sass/_partials/_newsletter.scss */
#newsletter .subscribe {
  padding: 40px 15px 15px 15px;
  color: white;
}
/* line 21, ../sass/_partials/_newsletter.scss */
#newsletter .subscribe .newsletter-title {
  font-size: 1.1rem;
  margin: 0;
  width: 80%;
  float: left;
  padding-right: 15px;
  border-right: 2px solid #ECECEC;
}
/* line 29, ../sass/_partials/_newsletter.scss */
#newsletter .subscribe .icon {
  width: 20%;
  display: inline-block;
  text-align: right;
  position: relative;
  top: -4px;
}
/* line 35, ../sass/_partials/_newsletter.scss */
#newsletter .subscribe .icon .svg-inline--fa {
  width: 4.5em;
  height: 4.5em;
}
/* line 41, ../sass/_partials/_newsletter.scss */
#newsletter .subscribe form .mc-field-group {
  margin-bottom: 15px;
  width: 70%;
  float: left;
}
/* line 45, ../sass/_partials/_newsletter.scss */
#newsletter .subscribe form .mc-field-group input {
  height: 39px;
}
/* line 49, ../sass/_partials/_newsletter.scss */
#newsletter .subscribe form #mc-embedded-subscribe {
  width: 30%;
}

/* line 1, ../sass/_partials/_footer.scss */
#footer {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
/* line 3, ../sass/_partials/_footer.scss */
#footer .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
/* line 6, ../sass/_partials/_footer.scss */
#footer .container .footer-block {
  padding: 25px 15px;
  width: 100%;
  color: white;
}
/* line 11, ../sass/_partials/_footer.scss */
#footer .container .right-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
/* line 14, ../sass/_partials/_footer.scss */
#footer .container .right-footer .newsletter-info {
  background-color: rgba(236, 236, 236, 0.4);
  padding: 15px;
  position: relative;
}
/* line 18, ../sass/_partials/_footer.scss */
#footer .container .right-footer .newsletter-info .arrow-right {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid rgba(236, 236, 236, 0.4);
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 31, ../sass/_partials/_footer.scss */
#footer .container .right-footer .mailchimp-form {
  background-color: rgba(4, 130, 179, 0.4);
  padding: 15px 15px 15px 45px;
}

/* line 2, ../sass/_partials/_choice-page.scss */
#choice-page .choices {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media (max-width: 1250px) {
  /* line 2, ../sass/_partials/_choice-page.scss */
  #choice-page .choices {
    flex-direction: column;
    height: auto;
  }
}
/* line 11, ../sass/_partials/_choice-page.scss */
#choice-page .choices .choice {
  padding: 20px;
  text-align: center;
  height: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  flex: 1;
}
/* line 17, ../sass/_partials/_choice-page.scss */
#choice-page .choices .choice:hover {
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  -o-flex-grow: 2;
  flex-grow: 2;
}
@media (max-width: 1250px) {
  /* line 17, ../sass/_partials/_choice-page.scss */
  #choice-page .choices .choice:hover {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -o-flex-grow: 1;
    flex-grow: 1;
  }
}
@media (max-width: 1250px) {
  /* line 11, ../sass/_partials/_choice-page.scss */
  #choice-page .choices .choice {
    padding: 30px 35%;
  }
}
@media (max-width: 715px) {
  /* line 11, ../sass/_partials/_choice-page.scss */
  #choice-page .choices .choice {
    padding: 30px 20%;
  }
}
@media (max-width: 600px) {
  /* line 11, ../sass/_partials/_choice-page.scss */
  #choice-page .choices .choice {
    padding: 20px;
  }
}
/* line 32, ../sass/_partials/_choice-page.scss */
#choice-page .choices .choice .content {
  position: relative;
  top: 30%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.4);
}
/* line 39, ../sass/_partials/_choice-page.scss */
#choice-page .choices .hirer {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/hirer.jpg") no-repeat 50% 50%;
}
@media (max-width: 1250px) {
  /* line 39, ../sass/_partials/_choice-page.scss */
  #choice-page .choices .hirer {
    background-position: 50% 60%;
  }
}
/* line 51, ../sass/_partials/_choice-page.scss */
#choice-page .choices .hirer:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/hirer.jpg") no-repeat 50% 50%;
}
@media (max-width: 1250px) {
  /* line 51, ../sass/_partials/_choice-page.scss */
  #choice-page .choices .hirer:hover {
    background-position: 50% 60%;
  }
}
/* line 65, ../sass/_partials/_choice-page.scss */
#choice-page .choices .supplier {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/supplier.jpg") no-repeat 70% 50%;
}
@media (max-width: 1250px) {
  /* line 65, ../sass/_partials/_choice-page.scss */
  #choice-page .choices .supplier {
    background-position: 50% 30%;
  }
}
@media (max-width: 715px) {
  /* line 65, ../sass/_partials/_choice-page.scss */
  #choice-page .choices .supplier {
    background-position: 60% 30%;
  }
}
/* line 80, ../sass/_partials/_choice-page.scss */
#choice-page .choices .supplier:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/supplier.jpg") no-repeat 70% 50%;
}
@media (max-width: 1250px) {
  /* line 80, ../sass/_partials/_choice-page.scss */
  #choice-page .choices .supplier:hover {
    background-position: 50% 30%;
  }
}
@media (max-width: 715px) {
  /* line 80, ../sass/_partials/_choice-page.scss */
  #choice-page .choices .supplier:hover {
    background-position: 60% 30%;
  }
}
/* line 97, ../sass/_partials/_choice-page.scss */
#choice-page .choices .interim {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/interim.jpg") no-repeat 20% 50%;
}
/* line 106, ../sass/_partials/_choice-page.scss */
#choice-page .choices .interim:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/interim.jpg") no-repeat 20% 50%;
}
/* line 117, ../sass/_partials/_choice-page.scss */
#choice-page .choices .freelancer {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/freelancer.jpg") no-repeat 40% 50%;
}
@media (max-width: 1250px) {
  /* line 117, ../sass/_partials/_choice-page.scss */
  #choice-page .choices .freelancer {
    background-position: 20% 40%;
  }
}
@media (max-width: 715px) {
  /* line 117, ../sass/_partials/_choice-page.scss */
  #choice-page .choices .freelancer {
    background-position: 30% 50%;
  }
}
/* line 132, ../sass/_partials/_choice-page.scss */
#choice-page .choices .freelancer:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/freelancer.jpg") no-repeat 20% 50%;
}
@media (max-width: 1250px) {
  /* line 132, ../sass/_partials/_choice-page.scss */
  #choice-page .choices .freelancer:hover {
    background-position: 20% 40%;
  }
}
/* line 146, ../sass/_partials/_choice-page.scss */
#choice-page .choices .curious {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/curious.jpg") no-repeat 50% 50%;
}
@media (max-width: 1250px) {
  /* line 146, ../sass/_partials/_choice-page.scss */
  #choice-page .choices .curious {
    background-position: 50% 30%;
  }
}
/* line 158, ../sass/_partials/_choice-page.scss */
#choice-page .choices .curious:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/curious.jpg") no-repeat 50% 50%;
}
@media (max-width: 1250px) {
  /* line 158, ../sass/_partials/_choice-page.scss */
  #choice-page .choices .curious:hover {
    background-position: 50% 30%;
  }
}

/* line 1, ../sass/_partials/_database-page.scss */
#database {
  padding-top: calc(9vh + 50px);
}
/* line 3, ../sass/_partials/_database-page.scss */
#database .section-title {
  margin-bottom: 25px;
}
/* line 8, ../sass/_partials/_database-page.scss */
#database .section-container p {
  text-align: center;
  margin: 15px 0;
}
/* line 12, ../sass/_partials/_database-page.scss */
#database .section-container form {
  margin-top: 30px;
}
/* line 16, ../sass/_partials/_database-page.scss */
#database .section-container .table-title {
  margin: 15px 0;
  width: 60%;
  float: left;
}
/* line 21, ../sass/_partials/_database-page.scss */
#database .section-container button {
  margin: 15px 0;
  float: right;
}
/* line 25, ../sass/_partials/_database-page.scss */
#database .section-container #contactTable {
  display: none;
}

/* line 1, ../sass/_partials/_cookieconsent.scss */
#cookie {
  width: 100%;
  height: 100vh;
  z-index: 50;
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  display: none;
}
/* line 8, ../sass/_partials/_cookieconsent.scss */
#cookie .cc-window {
  bottom: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 2, ../sass/_partials/_form.scss */
form .form-group {
  width: 100%;
  margin-bottom: 10px;
}
/* line 5, ../sass/_partials/_form.scss */
form .form-group label {
  width: 30%;
  float: left;
  padding-top: 6px;
}
@media (max-width: 475px) {
  /* line 5, ../sass/_partials/_form.scss */
  form .form-group label {
    width: 100%;
    float: none;
  }
}
/* line 14, ../sass/_partials/_form.scss */
form .form-group input, form .form-group textarea {
  width: 70%;
  margin: 0;
}
@media (max-width: 475px) {
  /* line 14, ../sass/_partials/_form.scss */
  form .form-group input, form .form-group textarea {
    width: 100%;
    margin-top: 5px;
  }
}
@media (max-width: 475px) {
  /* line 22, ../sass/_partials/_form.scss */
  form .form-group input {
    padding: 10px 6px;
  }
}

/* line 1, ../sass/_partials/_modal.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 99999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 12, ../sass/_partials/_modal.scss */
.modal .modal-content {
  background-color: #ECECEC;
  margin: 15% auto;
  padding: 20px;
  width: 60%;
}
@media (max-width: 991px) {
  /* line 12, ../sass/_partials/_modal.scss */
  .modal .modal-content {
    width: 80%;
  }
}
@media (max-width: 768px) {
  /* line 12, ../sass/_partials/_modal.scss */
  .modal .modal-content {
    width: 95%;
  }
}
/* line 23, ../sass/_partials/_modal.scss */
.modal .modal-content .modal-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
/* line 26, ../sass/_partials/_modal.scss */
.modal .modal-content .modal-header .modal-title {
  margin: 5px 0;
}
/* line 29, ../sass/_partials/_modal.scss */
.modal .modal-content .modal-header .close {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
/* line 36, ../sass/_partials/_modal.scss */
.modal .modal-content .modal-body {
  margin: 20px 0;
}
/* line 38, ../sass/_partials/_modal.scss */
.modal .modal-content .modal-body .g-recaptcha > div {
  margin: 0 0 0 auto;
}
/* line 42, ../sass/_partials/_modal.scss */
.modal .modal-content .modal-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}
/* line 45, ../sass/_partials/_modal.scss */
.modal .modal-content .modal-footer button:first-child {
  margin-right: 8px;
}
