@font-face {
  font-family: 'ZwoOT';
  src: url("../fonts/ZwoOT-Light.eot");
  src: url("../fonts/ZwoOT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ZwoOT-Light.woff") format("woff"), url("../fonts/ZwoOT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ZwoOT-Xbold';
  src: url("../fonts/ZwoOT-Xbold.eot");
  src: url("../fonts/ZwoOT-Xbold.eot?#iefix") format("embedded-opentype"), url("../fonts/ZwoOT-Xbold.woff") format("woff"), url("../fonts/ZwoOT-Xbold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: 'ZwoOT-SemiBd';
  src: url("../fonts/ZwoOT-SemiBd.eot");
  src: url("../fonts/ZwoOT-SemiBd.eot?#iefix") format("embedded-opentype"), url("../fonts/ZwoOT-SemiBd.woff") format("woff"), url("../fonts/ZwoOT-SemiBd.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* line 1, ../sass/_partials/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/_partials/_base.scss */
body, html {
  height: 100%;
}

/* line 9, ../sass/_partials/_base.scss */
body {
  font-family: "ZwoOT", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #2B2B2B;
}

/* line 15, ../sass/_partials/_base.scss */
img {
  max-width: 100%;
}

/* line 19, ../sass/_partials/_base.scss */
strong {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
}

/* line 23, ../sass/_partials/_base.scss */
.container {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  /* line 23, ../sass/_partials/_base.scss */
  .container {
    width: 60%;
  }
}
@media (max-width: 1100px) {
  /* line 23, ../sass/_partials/_base.scss */
  .container {
    width: 65%;
  }
}
@media (max-width: 900px) {
  /* line 23, ../sass/_partials/_base.scss */
  .container {
    width: 70%;
  }
}
@media (max-width: 768px) {
  /* line 23, ../sass/_partials/_base.scss */
  .container {
    width: 85%;
  }
}

/* line 40, ../sass/_partials/_base.scss */
h1 {
  font-family: "ZwoOT-Xbold", Helvetica, Arial, sans-serif;
  font-size: 3rem;
}

/* line 44, ../sass/_partials/_base.scss */
h2 {
  font-family: "ZwoOT-Xbold", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
}

/* line 48, ../sass/_partials/_base.scss */
h3 {
  font-family: "ZwoOT-Xbold", Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

/* line 52, ../sass/_partials/_base.scss */
h4 {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

/* line 56, ../sass/_partials/_base.scss */
h5 {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
}

/* line 60, ../sass/_partials/_base.scss */
h6 {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

/* line 65, ../sass/_partials/_base.scss */
a, a:visited {
  color: #3CBFED;
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
}

/* line 70, ../sass/_partials/_base.scss */
a:hover, a:focus, a:active {
  color: #13A5D8;
}

/* line 74, ../sass/_partials/_base.scss */
label {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
}

/* line 78, ../sass/_partials/_base.scss */
input, textarea {
  padding: 6px;
  border: 1px solid #ECECEC;
  width: 100%;
  margin: 6px 0 8px 0;
}

/* line 85, ../sass/_partials/_base.scss */
.btn-primary, .btn-primary-xl,
.btn-primary:visited,
.btn-primary-xl:visited, .btn-secondary, .btn-secondary-xl,
.btn-secondary:visited,
.btn-secondary-xl:visited, .btn-dark-grey, .btn-dark-grey-xl,
.btn-dark-grey:visited,
.btn-dark-grey-xl:visited, .btn-light-grey, .btn-light-grey-xl,
.btn-light-grey:visited,
.btn-light-grey-xl:visited {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: all 0.8s;
  text-decoration: none;
}

/* line 105, ../sass/_partials/_base.scss */
.btn-primary, .btn-primary-xl,
.btn-primary:visited,
.btn-primary-xl:visited {
  background-color: #3CBFED;
  border: 1px solid #3CBFED;
  color: white;
}
/* line 111, ../sass/_partials/_base.scss */
.btn-primary:hover, .btn-primary-xl:hover, .btn-primary:focus, .btn-primary-xl:focus, .btn-primary:active, .btn-primary-xl:active,
.btn-primary:visited:hover,
.btn-primary-xl:visited:hover,
.btn-primary:visited:focus,
.btn-primary-xl:visited:focus,
.btn-primary:visited:active,
.btn-primary-xl:visited:active {
  background-color: #13A5D8;
}
/* line 116, ../sass/_partials/_base.scss */
.btn-primary:disabled, .btn-primary-xl:disabled, .btn-primary[disabled], [disabled].btn-primary-xl,
.btn-primary:visited:disabled,
.btn-primary-xl:visited:disabled,
.btn-primary:visited[disabled],
.btn-primary-xl:visited[disabled] {
  cursor: not-allowed;
  background-color: rgba(60, 191, 237, 0.6);
}

/* line 123, ../sass/_partials/_base.scss */
.btn-primary-xl {
  padding: 15px 20px;
  font-size: 1.4rem;
}

/* line 129, ../sass/_partials/_base.scss */
.btn-secondary, .btn-secondary-xl,
.btn-secondary:visited,
.btn-secondary-xl:visited {
  background-color: #0482B3;
  border: 1px solid #0482B3;
  color: white;
}
/* line 135, ../sass/_partials/_base.scss */
.btn-secondary:hover, .btn-secondary-xl:hover, .btn-secondary:focus, .btn-secondary-xl:focus, .btn-secondary:active, .btn-secondary-xl:active,
.btn-secondary:visited:hover,
.btn-secondary-xl:visited:hover,
.btn-secondary:visited:focus,
.btn-secondary-xl:visited:focus,
.btn-secondary:visited:active,
.btn-secondary-xl:visited:active {
  background-color: #0F718E;
}
/* line 140, ../sass/_partials/_base.scss */
.btn-secondary:disabled, .btn-secondary-xl:disabled, .btn-secondary[disabled], [disabled].btn-secondary-xl,
.btn-secondary:visited:disabled,
.btn-secondary-xl:visited:disabled,
.btn-secondary:visited[disabled],
.btn-secondary-xl:visited[disabled] {
  cursor: not-allowed;
  background-color: rgba(4, 130, 179, 0.6);
}

/* line 147, ../sass/_partials/_base.scss */
.btn-secondary-xl {
  padding: 15px 20px;
  font-size: 1.4rem;
}

/* line 153, ../sass/_partials/_base.scss */
.btn-dark-grey, .btn-dark-grey-xl,
.btn-dark-grey:visited,
.btn-dark-grey-xl:visited {
  background-color: #2B2B2B;
  border: 1px solid #2B2B2B;
  color: white;
}
/* line 159, ../sass/_partials/_base.scss */
.btn-dark-grey:hover, .btn-dark-grey-xl:hover, .btn-dark-grey:focus, .btn-dark-grey-xl:focus, .btn-dark-grey:active, .btn-dark-grey-xl:active,
.btn-dark-grey:visited:hover,
.btn-dark-grey-xl:visited:hover,
.btn-dark-grey:visited:focus,
.btn-dark-grey-xl:visited:focus,
.btn-dark-grey:visited:active,
.btn-dark-grey-xl:visited:active {
  background-color: #515151;
}
/* line 164, ../sass/_partials/_base.scss */
.btn-dark-grey:disabled, .btn-dark-grey-xl:disabled, .btn-dark-grey[disabled], [disabled].btn-dark-grey-xl,
.btn-dark-grey:visited:disabled,
.btn-dark-grey-xl:visited:disabled,
.btn-dark-grey:visited[disabled],
.btn-dark-grey-xl:visited[disabled] {
  cursor: not-allowed;
  background-color: rgba(43, 43, 43, 0.6);
}

/* line 171, ../sass/_partials/_base.scss */
.btn-dark-grey-xl {
  padding: 15px 20px;
  font-size: 1.4rem;
}

/* line 177, ../sass/_partials/_base.scss */
.btn-light-grey, .btn-light-grey-xl,
.btn-light-grey:visited,
.btn-light-grey-xl:visited {
  background-color: #ECECEC;
  border: 1px solid #ECECEC;
  color: #2B2B2B;
}
/* line 183, ../sass/_partials/_base.scss */
.btn-light-grey:hover, .btn-light-grey-xl:hover, .btn-light-grey:focus, .btn-light-grey-xl:focus, .btn-light-grey:active, .btn-light-grey-xl:active,
.btn-light-grey:visited:hover,
.btn-light-grey-xl:visited:hover,
.btn-light-grey:visited:focus,
.btn-light-grey-xl:visited:focus,
.btn-light-grey:visited:active,
.btn-light-grey-xl:visited:active {
  background-color: #c6c6c6;
  color: #2B2B2B;
}
/* line 189, ../sass/_partials/_base.scss */
.btn-light-grey:disabled, .btn-light-grey-xl:disabled, .btn-light-grey[disabled], [disabled].btn-light-grey-xl,
.btn-light-grey:visited:disabled,
.btn-light-grey-xl:visited:disabled,
.btn-light-grey:visited[disabled],
.btn-light-grey-xl:visited[disabled] {
  cursor: not-allowed;
  background-color: rgba(236, 236, 236, 0.6);
}

/* line 196, ../sass/_partials/_base.scss */
.btn-light-grey-xl {
  padding: 15px 20px;
  font-size: 1.4rem;
}

/* line 202, ../sass/_partials/_base.scss */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}
/* line 207, ../sass/_partials/_base.scss */
.row .column {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 15px;
}

/* line 215, ../sass/_partials/_base.scss */
.text-center {
  text-align: center;
}

/* line 219, ../sass/_partials/_base.scss */
.entire-width {
  width: 100%;
}

/* line 1, ../sass/_partials/_panel.scss */
.panel {
  background: white;
  width: 100%;
}
/* line 4, ../sass/_partials/_panel.scss */
.panel .panel-heading {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  text-align: center;
}
/* line 8, ../sass/_partials/_panel.scss */
.panel .panel-heading .panel-title {
  margin: 0;
  padding: 20px 10px;
}
/* line 13, ../sass/_partials/_panel.scss */
.panel .panel-body {
  padding: 25px;
}

/* line 1, ../sass/_partials/_navbar.scss */
#navbar {
  height: 9vh;
  background-color: #ECECEC;
  z-index: 99;
}
/* line 6, ../sass/_partials/_navbar.scss */
#navbar .left-menu {
  width: 35%;
  padding: 2.5vh 0 8px 35px;
  height: 9vh;
  float: left;
}
@media (max-width: 768px) {
  /* line 6, ../sass/_partials/_navbar.scss */
  #navbar .left-menu {
    width: 49%;
  }
}
/* line 14, ../sass/_partials/_navbar.scss */
#navbar .left-menu .logo {
  text-decoration: none;
}
/* line 16, ../sass/_partials/_navbar.scss */
#navbar .left-menu .logo h2 {
  font-family: "Fredoka One", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 2rem;
}
/* line 23, ../sass/_partials/_navbar.scss */
#navbar .right-menu {
  display: inline-block;
  width: 64%;
  height: 9vh;
  padding-right: 20px;
}
@media (max-width: 768px) {
  /* line 23, ../sass/_partials/_navbar.scss */
  #navbar .right-menu {
    width: 49%;
  }
}
/* line 31, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 9vh;
  font-size: 1.4rem;
}
@media (min-width: 769px) {
  /* line 31, ../sass/_partials/_navbar.scss */
  #navbar .right-menu .mobile-toggle {
    display: none;
  }
}
/* line 40, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon {
  width: 40px;
  height: 25px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
/* line 47, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #2B2B2B;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
/* line 58, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
/* line 62, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon span:nth-child(2) {
  top: 10px;
  transform-origin: left center;
}
/* line 66, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon span:nth-child(3) {
  top: 20px;
  transform-origin: left center;
}
/* line 73, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}
/* line 78, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
/* line 82, ../sass/_partials/_navbar.scss */
#navbar .right-menu .mobile-toggle .nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 26px;
  left: 8px;
}
/* line 89, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items {
  height: 9vh;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  position: relative;
  padding-left: 0;
}
@media (max-width: 768px) {
  /* line 89, ../sass/_partials/_navbar.scss */
  #navbar .right-menu .menu-items {
    position: absolute;
    background: #ECECEC;
    flex-direction: column;
    height: auto;
    align-items: stretch;
    right: 25px;
    z-index: 99;
    padding-left: 40px;
  }
}
@media (max-width: 768px) {
  /* line 108, ../sass/_partials/_navbar.scss */
  #navbar .right-menu .menu-items .menu-item {
    padding: 12px 35px 12px 0;
  }
  /* line 111, ../sass/_partials/_navbar.scss */
  #navbar .right-menu .menu-items .menu-item:last-child {
    padding-bottom: 16px;
  }
}
/* line 115, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .menu-item a {
  color: #2B2B2B;
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  height: 100%;
  padding: 3vh 15px;
  text-align: center;
  cursor: pointer;
}
/* line 124, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .menu-item a:hover, #navbar .right-menu .menu-items .menu-item a:focus, #navbar .right-menu .menu-items .menu-item a:active {
  background: #2B2B2B;
  color: white;
}
@media (max-width: 850px) {
  /* line 115, ../sass/_partials/_navbar.scss */
  #navbar .right-menu .menu-items .menu-item a {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  /* line 115, ../sass/_partials/_navbar.scss */
  #navbar .right-menu .menu-items .menu-item a {
    text-align: left;
    padding: 0;
  }
}
/* line 138, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .menu-item-4 .svg-inline--fa {
  height: 0.8em;
}
/* line 142, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .dropdown {
  position: relative;
}
/* line 144, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ECECEC;
  min-width: 200px;
  z-index: 1;
  list-style-type: none;
  right: 0;
  padding: 0;
}
/* line 155, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .dropdown .dropdown-menu li.active a {
  background: #2B2B2B;
  color: white;
}
/* line 160, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .dropdown .dropdown-menu li a {
  font-size: 16px;
  padding: 20px 15px;
  display: inline-block;
  width: 100%;
  text-align: left;
}
/* line 171, ../sass/_partials/_navbar.scss */
#navbar .right-menu .menu-items .lang img {
  width: 25px;
}

/* line 1, ../sass/_partials/_home-sections.scss */
section {
  padding: 50px 0;
}
/* line 3, ../sass/_partials/_home-sections.scss */
section .section-title {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 11, ../sass/_partials/_home-sections.scss */
#contact .section-container {
  width: 60%;
  margin-left: 20%;
}
@media (max-width: 1200px) {
  /* line 11, ../sass/_partials/_home-sections.scss */
  #contact .section-container {
    width: 75%;
    margin-left: 12.5%;
  }
}
@media (max-width: 991px) {
  /* line 11, ../sass/_partials/_home-sections.scss */
  #contact .section-container {
    width: 100%;
    margin-left: 0;
  }
}

/* line 1, ../sass/_partials/_footer.scss */
#footer {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
/* line 3, ../sass/_partials/_footer.scss */
#footer .container {
  display: flex;
  justify-content: space-between;
}
/* line 6, ../sass/_partials/_footer.scss */
#footer .container .footer-block {
  padding: 25px 15px;
}
/* line 10, ../sass/_partials/_footer.scss */
#footer .container .right-footer .mailchimp-title {
  text-align: center;
}
/* line 12, ../sass/_partials/_footer.scss */
#footer .container .right-footer .mailchimp-title p {
  margin: 0 0 5px 0;
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
}
/* line 16, ../sass/_partials/_footer.scss */
#footer .container .right-footer .mailchimp-title .indicates-required {
  font-size: 14px;
  margin-bottom: 15px;
}

/* line 1, ../sass/_partials/_choice-page.scss */
#choice-page {
  width: 100%;
  height: 0px;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../images/laptop.jpg") no-repeat center;
  background-size: cover;
}
/* line 13, ../sass/_partials/_choice-page.scss */
#choice-page .container {
  position: relative;
  height: 100vh;
}
/* line 16, ../sass/_partials/_choice-page.scss */
#choice-page .container .panel {
  position: relative;
  top: 20%;
}
/* line 19, ../sass/_partials/_choice-page.scss */
#choice-page .container .panel .panel-body {
  padding: 25px 25px 15px 25px;
}
/* line 21, ../sass/_partials/_choice-page.scss */
#choice-page .container .panel .panel-body h5 {
  margin: 20px 0 35px 0;
}
/* line 24, ../sass/_partials/_choice-page.scss */
#choice-page .container .panel .panel-body .choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 28, ../sass/_partials/_choice-page.scss */
#choice-page .container .panel .panel-body .choices a {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* line 1, ../sass/_partials/_cookieconsent.scss */
#cookie {
  width: 100%;
  height: 100vh;
  z-index: 50;
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  display: none;
}
/* line 8, ../sass/_partials/_cookieconsent.scss */
#cookie .cc-window {
  bottom: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

/* line 2, ../sass/_partials/_form.scss */
form .form-group {
  width: 100%;
  margin-bottom: 10px;
}
/* line 5, ../sass/_partials/_form.scss */
form .form-group label {
  width: 30%;
  float: left;
  padding-top: 6px;
}
@media (max-width: 475px) {
  /* line 5, ../sass/_partials/_form.scss */
  form .form-group label {
    width: 100%;
    float: none;
  }
}
/* line 14, ../sass/_partials/_form.scss */
form .form-group input, form .form-group textarea {
  width: 70%;
  margin: 0;
}
@media (max-width: 475px) {
  /* line 14, ../sass/_partials/_form.scss */
  form .form-group input, form .form-group textarea {
    width: 100%;
    margin-top: 5px;
  }
}
@media (max-width: 475px) {
  /* line 22, ../sass/_partials/_form.scss */
  form .form-group input {
    padding: 10px 6px;
  }
}

/* line 1, ../sass/_partials/_modal.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 99999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 12, ../sass/_partials/_modal.scss */
.modal .modal-content {
  background-color: #ECECEC;
  margin: 15% auto;
  padding: 20px;
  width: 60%;
}
@media (max-width: 991px) {
  /* line 12, ../sass/_partials/_modal.scss */
  .modal .modal-content {
    width: 80%;
  }
}
@media (max-width: 768px) {
  /* line 12, ../sass/_partials/_modal.scss */
  .modal .modal-content {
    width: 95%;
  }
}
/* line 23, ../sass/_partials/_modal.scss */
.modal .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
}
/* line 26, ../sass/_partials/_modal.scss */
.modal .modal-content .modal-header .modal-title {
  margin: 5px 0;
}
/* line 29, ../sass/_partials/_modal.scss */
.modal .modal-content .modal-header .close {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
/* line 36, ../sass/_partials/_modal.scss */
.modal .modal-content .modal-body {
  margin: 20px 0;
}
/* line 38, ../sass/_partials/_modal.scss */
.modal .modal-content .modal-body .g-recaptcha > div {
  margin: 0 0 0 auto;
}
/* line 42, ../sass/_partials/_modal.scss */
.modal .modal-content .modal-footer {
  display: flex;
  justify-content: flex-end;
}
/* line 45, ../sass/_partials/_modal.scss */
.modal .modal-content .modal-footer button:first-child {
  margin-right: 8px;
}
