<section id="promises" class="{{ role }}">
    <div class="container">
        <h2 class="section-title">Basis tekst</h2>
        <div class="section-container">
            <p>Hier komt tekst gericht op algemene bezoekers</p>
        </div>
    </div>
</section>