.banner {
    width: 100%;
    height: 300px;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
    @media (max-width: 768px) {
        height: 180px;
    }
    @media (max-width: 500px) {
        height: 130px;
    }
    @media (max-width: 400px) {
        height: 100px;
    }
    .banner-container {
        padding: 30px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        //background: rgba(255, 255, 255, 0.4);
        text-align: center;
        .banner-title {
            margin: 0 0 15px 0;
            color: white;
            font-size: 5rem;
            @media (max-width: 768px) {
                font-size: 4rem;
            }
            @media (max-width: 500px) {
                font-size: 3rem;
            }
            @media (max-width: 400px) {
                font-size: 2.4rem;
            }
        }
    }
}

.banner-supplier,
.banner-hirer {
    background-image: url('../images/jungle.jpg');
}

.banner-buyer {
    background-image: url('../images/clouds.jpg');
    .banner-container .banner-title {
        color: $dark-grey;
    }
}

.banner-usecases {
    background-image: url("../images/jungle/jungle1.jpg");
    .banner-container {
        color: white;
        text-decoration: none;
        display: block;
        .banner-title {
            font-size: 3rem;
        }
        a {
            margin-top: 15px;
        }
        @media(max-width: 768px) {
            padding: 15px 0;
            .banner-title {
                font-size: 2.2rem;
            }
            a {
                margin-top: 0px;
                padding: 10px 12px;
            }
        }
        @media(max-width: 560px) {
            .banner-title {
                font-size: 1.8rem;
                font-weight: bold;
            }
            a {
                padding: 8px;
            }
        }
    }
    @media(max-width: 560px) {
        height: 200px;
    }

    @media(max-width: 380px) {
        height: 220px;
        padding: 15px;
        .banner-container {
            a {
                font-size: 1.05rem;
            }
        }
    }
}

.banner.banner-ebook {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
        url("../images/desert.jpg") no-repeat 50% 70%;
    @media(max-width: 768px) {
        height: 240px;
        .banner-container {
            .banner-title {
                font-size: 2.2rem;
                font-weight: bold;
            }
            p {
                font-size: 1.3rem;
            }
        }
    }
    .banner-container {
        .banner-title {
            font-size: 2.8rem;
        }
        p {
            color: white;
            font-weight: bold;
            font-size: 1.8rem;
        }
        a {
            margin-top: 15px;
        }
        @media(max-width: 1093px) {
            .banner-title {
                font-size: 2.5rem;;
            }
            p {
                font-size: 1.5rem;
            }
        }
        @media(max-width: 945px) {
            p {
                margin: 15px 0;
            }
            a {
                margin-top: 0;
            }
        }
        @media(max-width: 520px) {
            padding: 0;
            .banner-title {
                font-size: 1.4rem;;
            }
            p {
                font-size: 1.1rem;
            }
        }
    }
}

.banner.banner-whitepaper {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
        url("../images/desert.jpg") no-repeat 50% 70%;
    height: 360px;
    .banner-container {
        p {
            text-align: left;
            margin: 0;
            font-size: 1.5rem;
            color: white;
            font-weight: 500;
            &.accent {
                text-align: right;
                margin: 5px 0 10px 0;
                position: relative;
                font-size: 1.8rem;
            }
        }
    }
    @media(max-width: 790px) {
        height: auto;
        .banner-container {
            top: 0;
            transform: translateY(0);
            p {
                font-size: 1.2rem;
                &.accent {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.banner.banner-en {
    background: 
        linear-gradient(rgba(39, 181, 198, 0.1), rgba(39, 181, 198, 0.1)), 
        url("../images/clouds.jpg") no-repeat 50% 70%;
    height: 360px;
    .banner-container {
        p {
            text-align: left;
            margin: 0;
            font-size: 1.5rem;
            color: $dark-grey;
            font-weight: 500;
            &.accent {
                text-align: center;
                margin: 15px 0;
                position: relative;
                font-size: 1.8rem;
            }
        }
    }
    @media(max-width: 790px) {
        height: auto;
        .banner-container {
            top: 0;
            transform: translateY(0);
            p {
                font-size: 1.2rem;
                &.accent {
                    font-size: 1.5rem;
                }
            }
        }
    }
}