#cookie {
    width: 100%;
    height: 100vh;
    z-index: 50;
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    display: none;
    .cc-window {
        bottom: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
        @include prefix(transform, translate(-50%, -50%), webkit moz o);
    }
}