#feedback {
    .smilies {
        margin-top: 20px;
        .smily {
            width: 25%;
            img {
                max-width: 20%;
            }
        }
    }
    .givenscore {
        a {
            display: block;
            width: 50%;
            margin: 10px auto;
        }
        img {
            width: 25%;
        }
    }
}