#footer {
    background: $gradient;
    .container {
        @include displayFlex;
        justify-content: space-between;
        .footer-block {
            padding: 25px 15px;
            width: 100%;
            color: white;
            .choose-role {
                margin-top: 35px;
                p {
                    font-size: 1.2rem;
                }
                .roles > a {
                    margin-bottom: 5px;
                }
            }
        }
    }
}