#hero {
    height: $heroHeight;
    position: relative;
    .hero-title {
        position: absolute;
        width: 60%;
        left: 10%;
        bottom: 10%;
        color: white;
    }
}

#hero.home {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url('../images/home.jpg') 
        no-repeat 
        center;
    .hero-title {
        width: 35%;
        left: 5%;
        top: 10%;
        text-align: left;
        position: relative;
        float: left;
    }
    .monkey {
        position: relative;
        width: 59%;
        top: 30%;
        float: right;
        svg {
            height: 100%;
        }
    }
}

#hero.hirer {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url('../images/hirer.jpg') 
        no-repeat 
        center;
}

#hero.hirer {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url('../images/hirer.jpg') 
        no-repeat 
        center;
}

#hero.supplier {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url('../images/supplier.jpg') 
        no-repeat 
        center;
}

#hero.interim {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url('../images/interim.jpg') 
        no-repeat 
        center;
}

#hero.freelancer {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url('../images/freelancer.jpg') 
        no-repeat 
        center;
}

#hero.curious {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url('../images/curious.jpg') 
        no-repeat 
        center;
}