section {
    padding: 50px 0;
    border-bottom: 1px solid $light-grey;
    &:last-child {
        border-bottom: 0;
    }
    .section-title {
        margin: 0 0 10px 0;
        padding: 0;
        text-align: center;
    }
}

#promises {
    .section-title {
        color: $primary;
    }
    .section-container {
        .icon-columns {
            .column {
                .svg-inline--fa {
                    color: $primary;
                    height: 4em;
                    width: 4em;
                    display: block;
                    margin: 0 auto;
                }
                h3 {
                    text-align: center;
                    color: $primary;
                }
            }
        }
    }
}

#our-story {
    .section-container {
        h2 {
            color: $primary;
        }
        .column:last-child {
            @include displayFlex;
            @include prefix(align-items, flex-end, webkit moz o);
        }
    }
}

#how-it-works {
    .section-container {
        @include displayFlex;
        @include prefix(flex-wrap, wrap, webkit moz o);
        justify-content: space-between;
    }
}

#contact {
    .section-container {
        width: 60%;
        margin-left: 20%;
        @media (max-width: 1200px) {
            width: 75%;
            margin-left: 12.5%;
        }
        @media (max-width: 991px) {
            width: 100%;
            margin-left: 0;
        }
    }
}