#choose {
    padding-bottom: 0;
    .section-title {
        margin-bottom: 50px;
    }
    .choices {
        height: 100%;
        @include displayFlex;
        justify-content: space-between;
        flex-direction: row;
        @media (max-width: 1250px) {
            flex-direction: column;
            height: auto;
        }
        .choice {
            padding: 20px;
            text-align: center;
            height: 100%;
            @include prefix(transition, all 0.5s, webkit moz o);
            @include prefix(flex, 1, webkit moz o);
            @media (max-width: 1250px) {
                padding: 30px 35%;
            }
            @media (max-width: 715px) {
                padding: 30px 20%;
            }
            @media (max-width: 600px) {
                padding: 20px;
            }
            .content {
                position: relative;
                top: 30%;
                padding: 20px;
                background: rgba(255, 255, 255, 0.4);
            }
        }
        .hirer {
            background: 
                linear-gradient(
                    rgba(255, 255, 255, 0.5),
                    rgba(255, 255, 255, 0.5)
                ),
                url('../images/hirer.jpg')
                no-repeat
                50% 50%;
                @media (max-width: 1250px) {
                    background-position: 50% 60%;
                }
            &:hover {
                background: 
                linear-gradient(
                    rgba(255, 255, 255, 0.2),
                    rgba(255, 255, 255, 0.2)
                ),
                url('../images/hirer.jpg')
                no-repeat
                50% 50%;
                @media (max-width: 1250px) {
                    background-position: 50% 60%;
                }
            }
        }
        .supplier {
            background: 
                linear-gradient(
                    rgba(255, 255, 255, 0.5),
                    rgba(255, 255, 255, 0.5)
                ),
                url('../images/supplier.jpg')
                no-repeat
                70% 50%;
                @media (max-width: 1250px) {
                    background-position: 50% 30%;
                }
                @media (max-width: 715px) {
                    background-position: 60% 30%;
                }
            &:hover {
                background: 
                linear-gradient(
                    rgba(255, 255, 255, 0.2),
                    rgba(255, 255, 255, 0.2)
                ),
                url('../images/supplier.jpg')
                no-repeat
                70% 50%;
                @media (max-width: 1250px) {
                    background-position: 50% 30%;
                }
                @media (max-width: 715px) {
                    background-position: 60% 30%;
                }
            }
        }
        .interim {
            background: 
                linear-gradient(
                    rgba(255, 255, 255, 0.5),
                    rgba(255, 255, 255, 0.5)
                ),
                url('../images/interim.jpg')
                no-repeat
                20% 50%;
            &:hover {
                background: 
                linear-gradient(
                    rgba(255, 255, 255, 0.2),
                    rgba(255, 255, 255, 0.2)
                ),
                url('../images/interim.jpg')
                no-repeat
                20% 50%;
            }
        }
        .freelancer {
            background: 
                linear-gradient(
                    rgba(255, 255, 255, 0.5),
                    rgba(255, 255, 255, 0.5)
                ),
                url('../images/freelancer.jpg')
                no-repeat
                40% 50%;
                @media (max-width: 1250px) {
                    background-position: 20% 40%;
                }
                @media (max-width: 715px) {
                    background-position: 30% 50%;
                }
            &:hover {
                background: 
                linear-gradient(
                    rgba(255, 255, 255, 0.2),
                    rgba(255, 255, 255, 0.2)
                ),
                url('../images/freelancer.jpg')
                no-repeat
                20% 50%;
                @media (max-width: 1250px) {
                    background-position: 20% 40%;
                }
            }
        }
        .curious {
            background: 
                linear-gradient(
                    rgba(255, 255, 255, 0.5),
                    rgba(255, 255, 255, 0.5)
                ),
                url('../images/curious.jpg')
                no-repeat
                50% 50%;
                @media (max-width: 1250px) {
                    background-position: 50% 30%;
                }
            &:hover {
                background: 
                    linear-gradient(
                        rgba(255, 255, 255, 0.2),
                        rgba(255, 255, 255, 0.2)
                    ),
                    url('../images/curious.jpg')
                    no-repeat
                    50% 50%;
                    @media (max-width: 1250px) {
                        background-position: 50% 30%;
                    }
            }
        }
    }
}