#partners {
    .section-title {
        margin-bottom: 10px;
    }
    .sub-title {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

section.partner {
    .section-container {
        text-align: center;
    }
}

// ecosystem english homepage
#ecosystem {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/wood-background.jpg") no-repeat;
    .section-container {
        display: flex;
        justify-content: space-between;
        .col-left {
            width: auto;
            padding-right: 10px;
        }
        .col-right {
            img {
                padding: 0;
            }
        }
        @media(max-width: 700px) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    .sub-title {
        text-align: left;
        font-weight: 500;
    }
    .logos {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        width: 330px;
        .logo {
            width: 100px;
            height: 100px;
            flex: 0 1 auto;
            margin: 0 5px 10px 5px;
            background: white;
            border: 3px solid $primary;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            img {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                max-width: 100%;
                padding: 0 5px;
            }
        }
        @media(max-width: 700px) {
            margin: 10px auto 0 auto;
        }
        @media(max-width: 390px) {
            width: 220px;
        }
    }
}

#partner-side-menu {
    position: fixed;
    bottom: 2%;
    right: 0;
    padding: 10px 5px 10px 15px;
    border-bottom: 3px solid $success;
    background: rgba(255, 255, 255, 0.7);
    border-top-left-radius: 10px;
    .side-container {
        .partner-item {
            text-decoration: none;
            padding: 0 8px;
            position: relative;
            transition: all 0.2s;
            color: $dark-grey-hover;
            cursor: pointer;
            &:hover, &:focus, &.active {
                //bottom: 5px;
                font-size: 1.3rem;
                color: $dark-grey;
            }
        }
    }
    @media(max-width: 720px) {
        width: 100%;
        border-top-left-radius: 0;
        text-align: center;
        background: white;
        border-top: 3px solid $success;
        bottom: 1%;
    }
}

// Sections backgrounds
.partner.full-screen {
    background-size: cover;
    background-repeat: no-repeat;
    .container {
        background: rgba(255, 255, 255, 0.6);
        padding: 30px 10px;
        .section-title {
            margin-bottom: 25px;
        }
        .section-container {
            p {
                font-weight: bold;
                margin-bottom: 25px;
                font-size: 18px;
            }
        }
    }
    @media(max-width: 720px) {
        height: auto;
        padding: 60px 0;
    }
}
#sap {
    background: url("../../public/images/jungle/jungle1.jpg");
}
#easyflex {
    background: url("../../public/images/jungle/jungle2.jpg");
}
#flexservice {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("../../public/images/jungle/jungle3.jpg");
}
#pepflex {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url("../../public/images/jungle/jungle4.jpg");
}
#pivoton {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("../../public/images/jungle/jungle5.jpg");
}
#overig {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url("../../public/images/jungle/jungle6.jpg");
}
#afas {
    background: url("../../public/images/jungle/jungle7.jpg");
}