#pricemodel {
    .container {
        width: 94%;
    }
    .section-title {
        margin-top: 20px;
    }
    .subscriptions {
        @include displayFlex;
        @include prefix(justify-content, space-between, webkit moz o);
        @include prefix(flex-wrap, wrap, webkit moz o);
        position: relative;
        // @media(max-width: 565px) {
        //     @include prefix(flex-direction, column, webkit moz o);
        // }
        .column {
            @include prefix(flex, 1 1 0, webkit moz o);
            margin: 0 5px;
            text-align: center;
            min-width: 185px;
            // @media(max-width: 1199px) {
            //     min-width: 250px;
            //     &:nth-child(3) {
            //         margin-right: 0;
            //     }
            //     &:nth-child(4) {
            //         margin-left: 0;
            //     }
            //     &:nth-child(4), &:nth-child(5) {
            //         margin-top: 10px;
            //         margin-bottom: 30px;

            //     }
            // }
            // @media(max-width: 843px) {
            //     min-width: 190px;
            // }
            // @media(max-width: 619px) {
            //     min-width: auto;
            // }
            .extra {
                background: white;
                position: absolute;
                top: 0;
                z-index: 6;
                height: 0;
                .inner {
                    @include displayFlex;
                    @include prefix(flex-direction, column, webkit moz o);
                    height: 100%;
                    padding: 10px;
                    .title {
                        padding-bottom: 10px;
                        // @media(max-width: 565px) {
                        //     font-size: 2.2rem;
                        // }
                    }
                    .content {
                        @include prefix(flex, 1, webkit moz o);
                        text-align: left;
                        ul {
                            padding-left: 15px;
                            list-style-type: square;
                            li {
                                font-size: 14px;
                                &.bold {
                                    color: $dark-grey;
                                }
                            }
                        }
                        .list-type-none {
                            list-style-type: none;
                            padding-left: 0;
                        }
                        // @media(max-width: 565px) {
                        //     ul:first-child {
                        //         width: 58%;
                        //         margin-right: 1%;
                        //         display: inline-block;
                        //     }
                        //     ul:last-child {
                        //         width: 38%;
                        //         display: inline-block;
                        //     }
                        // }
                    }
                    button {
                        width: 100%;
                        // @media(max-width: 565px) {
                        //     width: 48%;
                        //     &:first-child {
                        //         margin-right: 2%;
                        //     }
                        // }
                    }
                    .btn-secondary {
                        margin-bottom: 10px;
                        // @media(max-width: 565px) {
                        //     margin-bottom: 0;
                        // }
                    }
                }
            }
            .base {
                z-index: 5;
                position: relative;
                background: $light-grey;
                h3 {
                    background: $dark-grey;
                    color: white;
                    margin: 0;
                    padding: 10px 0;
                    font-size: 2rem;
                    font-family: $font-bold;
                    @media(max-width: 1199px) {
                        font-size: 2.2rem;
                    }
                }
                .inner {
                    padding: 10px;
                    .bold {
                        height: 150px;
                        // @media(max-width: 565px) {
                        //     height: auto;
                        // }
                        color: $dark-grey;
                    }
                    .price-rule {
                        font-family: $font-xbold;
                        font-size: 1.8rem;
                        padding: 20px 0 8px 0;
                        .price {
                            font-size: 3rem;
                            @media(max-width:1150px) {
                                font-size: 4rem;
                            }
                        }
                        &.one {
                            padding-top: 45px;
                            padding-bottom: 18px;
                            // @media(max-width: 950px) {
                            //     padding-top: 39px;
                            // }
                        }
                        // @media(max-width: 565px) {
                        //     padding: 0;
                        // }
                    }
                    .other-prices {
                        height: 110px;
                        font-family: $font-bold;
                    }
                    button {
                        width: 100%;
                    }
                    .choose {
                        margin-top: 10px;
                    }
                }
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            @media(max-width: 565px) {
                margin: 5px 0;
            }
        }
    }
}
