#subscribe-page {
    @include displayFlex;
    @include prefix(flex-direction, column, webkit moz o);
    height: 100vh;
    .navbar {
        height: 50px;
        background: $gradient;
        .brand {
            padding-left: 15px;
            padding-top: 8px;
            a {
                margin: 0;
                font-family: $font-logo;
                font-size: 1.6rem;
                color: white;
                text-decoration: none;
            }
        }
    }
    .main {
        @include prefix(flex, 1, webkit moz o);
        background: url('../images/curious.jpg') no-repeat center center;
        background-size: cover;
        .panel {
            margin-top: 30px;
            .panel-heading {
                background: $panel-heading;
                border-bottom: 1px solid $panel-border;
                padding: 10px 15px;
                .panel-title {
                    color: $dark-grey;
                    font-size: 16px;
                    font-family: $font-bold;
                    padding: 0;
                }
            }
            .panel-body {
                padding: 15px;
                .subscribeform {
                    @include displayFlex;
                    .form-column {
                        @include prefix(flex, 1, webkit moz o);
                        &.left {
                            padding-right: 10px;
                        }
                        &.right {
                            padding-left: 10px;
                        }
                        .form-group {
                            label {
                                width: 100%;
                                margin-bottom: 5px;
                                padding-top: 0;
                                font-family: $font-normal;
                                font-weight: bold;
                            }
                            input, select {
                                width: 100%;
                                height: 34px;
                                padding: 6px 12px;
                                font-size: 14px;
                                line-height: 1.42857143;
                                border: 1px solid #ccc;
                                background: white;
                                @include prefix(box-shadow, inset 0 1px 1px rgba(0, 0, 0, .075), webkit moz o);
                                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                            }
                            &.checkboxes {
                                label {
                                    width: 95%;
                                    margin-top: 8px;
                                    font-weight: normal;
                                }
                                input[type=checkbox] {
                                    width: 5%;
                                    float: left;
                                    box-shadow: none;
                                    border: none;
                                    display: block;
                                    clear: both;
                                }
                            }
                        }
                        h5 {
                            margin: 5px 0 20px 0;
                            font-family: $font-bold;
                            width: 60%;
                            float: left;
                            font-size: 1.2rem;
                        }
                        .btn-primary {
                            float: right;
                            font-size: 14px;
                        }
                        .g-recaptcha > div {
                            margin: 0;
                            iframe {
                                margin-top: 10px;
                            }
                        }
                        input[type=submit] {
                            width: 100%;
                            display: block;
                            margin-top: 90px;
                        }
                    }
                }
            }
        }
    }
    .footer {
        @include displayFlex;
        border-top: 1px solid $light-grey;
        padding: 0 15px;
        .text {
            @include prefix(flex, 1, webkit moz o);
        }
        .right-text {
            text-align: right;
        }
    }
}

