<section id="promises" class="{{ role }}">
    <div class="container">
        <h2 class="section-title">{{ translation.choice.HIRER }}</h2>
        <div class="section-container">
            <p>Hier komt tekst gericht op inlener</p>
        </div>
    </div>
</section>