<section id="hero" class="hirer">
    <div class="hero-title">
        <h1>
            {{ translation.home-intro.YOU_ARE_HIRER }} <br /> <br />
            {{ translation.home-intro.THING_OF_PAST }}
        </h1>
    </div>
</section>

<section id="promises" class="hirer">
    <div class="container">
        <h2 class="section-title">{{ translation.home-intro.WHAT_WE_PROMISE }}</h2>
        <div class="section-container">
            <p>Hier komt tekst gericht op inlener</p>
        </div>
    </div>
</section>